<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Ztechnews | Bảng điều khiển</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="../static/img/Z-green-leaf.png">
  <link rel="stylesheet" href="../static/bootstrap-4.6.0-dist/css/bootstrap.css">
  <link rel="stylesheet" href="../static/bootstrap-icons-1.4.0/bootstrap-icons.css">
  <link rel="stylesheet" href="../static/css/dashboard.css">
</head>
<body>
<!-- partial:index.partial.html -->
<div class="container-fluid">
  <div class="row">
    <!-- sidebar -->
    <div class="col-md-3 col-lg-2 px-0 position-fixed h-100 bg-white shadow-sm sidebar" id="sidebar">
      <a href="#">
        <div class="my-3 text-center">
          <img src="../static/img/Z-green-leaf.png" class="logo-img">
          <span class = "logo-name align-middle ml-1">Technews</span>
        </div>
      </a>
      <div class="list-group rounded-0">
        <a href="#" class="list-group-item list-group-item-action border-0 align-items-center">
          <span class="bi bi-bar-chart-fill"></span>
          <span class="ml-2">Bảng điều khiển</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action border-0 align-items-center active-page">
          <span class="bi bi-newspaper"></span>
          <span class="ml-2">Quản lý bài viết và các mục</span>
        </a>

        <button class="list-group-item list-group-item-action border-0 d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#sale-collapse">
          <div>
            <span class="bi bi-person-circle"></span>
            <span class="ml-2">Quản lý thành viên</span>
          </div>
          <span class="bi bi-chevron-down small"></span>
        </button>
        <div class="collapse" id="sale-collapse" data-parent="#sidebar">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action border-0 pl-5"><span class="bi bi-person-fill mr-2"></span>Người dùng</a>
            <a href="#" class="list-group-item list-group-item-action border-0 pl-5"><span class="bi bi-person-badge-fill mr-2"></span>Mod</a>
          </div>
        </div>
      </div>
    </div>
    <!-- overlay to close sidebar on small screens -->
    <div class="w-100 vh-100 position-fixed overlay d-none" id="sidebar-overlay"></div>
    <!-- note: in the layout margin auto is the key as sidebar is fixed -->
    <div class="col-md-9 col-lg-10 ml-md-auto px-0">
      <!-- top nav -->
      <nav class="w-100 d-flex px-4 py-2 mb-4 shadow-sm nav-bgcl">
        <!-- close sidebar -->
        <button class="btn py-0 d-lg-none" id="open-sidebar">
          <span class="bi bi-list text-white h3"></span>
        </button>
        <div class="dropdown ml-auto">
          <div class="btn py-0 d-flex align-items-center" id="logout-dropdown" data-toggle="dropdown" aria-expanded="false">
            <img src="../static/img/avatar.jpg" alt="logo" class="avatar-img rounded-circle">
            <span class="ml-1 text-white">Admin</span>
            <span class="bi bi-chevron-down ml-1 small text-white"></span>
          </div>
          <div class="dropdown-menu dropdown-menu-right border-0 shadow-sm" aria-labelledby="logout-dropdown">
            <a class="dropdown-item text-right" href="#">Trang cá nhân</a>
            <a class="dropdown-item text-right" href="#">Quản lý trang web</a>
            <a class="dropdown-item text-right" href="#">Đăng xuất</a>
          </div>
        </div>
      </nav>
      <!-- main content -->
      <main class="container-fluid">
        <section class="row">
          <div class="col-md-4">
            <!-- card -->
            <article class="p-3 rounded shadow-sm mb-3 bg-light" style="border-left: #0033cf solid 2px">
              <div class="align-items-center">
                <h5 class="mb-4 font-weight-bold" style="color: #0033cf">Tổng bài đăng</h5>
              </div>
              <div class="d-flex justify-content-between">
                <div id="sparklinedash-topic">
                  <span class="bar"></span>
                </div>
                <div>
                  <span class=" font-weight-bold" style="font-size: 43px; color: #0033cf">6969</span>
                </div>
              </div>
            </article>
          </div>
          <div class="col-md-4">
            <article class="p-3 rounded shadow-sm mb-3 bg-light" style="border-left: #00beef solid 2px">
              <div class="align-items-center">
                <h5 class="mb-4 font-weight-bold" style="color: #00beef">Tổng facts đăng</h5>
              </div>
              <div class="d-flex justify-content-between">
                <div id="sparklinedash-fact">
                  <span class="bar"></span>
                </div>
                <div>
                  <span class=" font-weight-bold" style="font-size: 43px; color: #00beef">6969</span>
                </div>
              </div>
            </article>
          </div>
          <div class="col-md-4">
            <article class="p-3 rounded shadow-sm mb-3 bg-light" style="border-left: #39f9b3 solid 2px">
              <div class="align-items-center">
                <h5 class="mb-4 font-weight-bold" style="color: #39f9b3">Tổng lượt truy cập</h5>
              </div>
              <div class="d-flex justify-content-between">
                <div id="sparklinedash-visit">
                  <span class="bar"></span>
                </div>
                <div>
                  <span class=" font-weight-bold" style="font-size: 43px; color: #39f9b3">6969</span>
                </div>
              </div>
            </article>
          </div>
        </section>
        
        <div class="jumbotron jumbotron-fluid rounded bg-white shadow-sm pt-3 pb-5" style="border-left: #00beef solid 2px">
          <div class="container-fluid" >
            <h4 class="text-center font-weight-bold" style="color: #00beef">Thống kê truy cập</h4>
            <div class="d-flex justify-content-end pr-2">
              <select class="form-select">
                <option>2018</option>
                <option>2019</option>
                <option>2020</option>
                <option selected>2021</option>
              </select>
            </div>
            <div style="height: 400px">
            <canvas id="myChart"></canvas></div>
          </div>
        </div> 
        
        <section class="row">
          <div class="col-md-8">
            <article class="p-4 rounded shadow-sm mb-3 bg-light" style="border-left: #00beef solid 2px">
              <h4 class="text-center font-weight-bold pb-3" style="color: #00beef">Hoạt động</h4>
              <table class="table table-hover mb-0">
                <thead>
                  <tr style="color: #00beef">
                    <th>Tên thành viên</th>
                    <th>Hoạt động</th>
                    <th>Trạng thái</th>
                    <th>Thời gian</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <img class="rounded-circle" src="../static/img/avatar.jpg" style="width: 20px">
                      <span class="pl-1">Cheems</span>
                    </td>
                    <td>Đăng bài viết mới</td>
                    <td class="text-success">Thành công</td>
                    <td>2 giây trước</td>
                  </tr>
                  <tr>
                    <td>
                      <img class="rounded-circle" src="../static/img/avatar.jpg" style="width: 20px">
                      <span class="pl-1">Khoa</span>
                    </td>
                    <td>Xóa bài viết</td>
                    <td class="text-danger">Thất bại</td>
                    <td>3 giây trước</td>
                  </tr>
                  <tr>
                    <td>
                      <img class="rounded-circle" src="../static/img/avatar.jpg" style="width: 20px">
                      <span class="pl-1">Kiệt</span>
                    </td>
                    <td>Trả lời phản hồi</td>
                    <td class="text-success">Thành công</td>
                    <td>4 giây trước</td>
                  </tr>
                </tbody>
              </table>
            </article>
          </div>
          <div class="col-md-4">
            <article class="p-4 rounded shadow-sm mb-3 bg-light" style="border-left: #00beef solid 2px">
              <h4 class="text-center font-weight-bold pb-3" style="color: #00beef">#Hashtag phổ biến</h4>
              <table class="table table-hover mb-0">
                <thead>
                  <tr style="color: #00beef">
                    <th>#Hashtag</th>
                    <th>Số bài viết</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                       #anticheems
                    </td>
                    <td>
                      6969
                    </td>
                  </tr>
                  <tr>
                    <td>
                       #anticheems2
                    </td>
                    <td>
                      696
                    </td>
                  </tr>
                  <tr>
                    <td>
                       #anticheems3
                    </td>
                    <td>
                      69
                    </td>
                  </tr>
                </tbody>
              </table>
            </article>
          </div>
        </section>
      </main>
    </div>
  </div>
</div>
<!-- partial -->
  <script src="../static/js/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="../static/popper/dist/umd/popper.min.js"></script>
  <script src="../static/js/jquery.sparkline.min.js"></script>
  <script src="../static/bootstrap-4.6.0-dist/js/bootstrap.min.js"></script>
  <script src="../static/js/admin.js"></script>
  <script src="../static/js/dashboard.js"></script>
</body>
</html>
