.btn-circle { 
    width: 33px; 
    height: 33px; 
    padding: 3px 0px; 
    border-radius: 17px; 
    font-size: 12px; 
    background-color: rgb(228, 228, 228);
    text-align: center;
} 
.bdr{
   
    border-radius: 15%;
    padding-bottom: 1%;

}
.borderactive{
    background-color:#0768ea ; 
    color: aliceblue;font-weight:
    bold;border-color: #e6effc; 
    border-width: 10px;
    border-style:outset;
    box-shadow: 0 20px 20px -20px rgb(126, 125, 125);
}
.hr-shadow{
    border:none;
    height: 20px;
	height: 50px;
	margin-top: 0;
	border-bottom: 1px solid #b8b7b7;
	box-shadow: 0 20px 20px -20px rgb(126, 125, 125);
    margin: -50px auto 10px;
}
.li-dangnhap{
    list-style-type: none;
}
.search-query{
    border-radius: 20px;
    border: 0.5px solid gray;
}
.search-query:focus{
    
    outline: none;
    box-shadow: none;
}
.me-5 .pr-3{
    color: black;
    font-weight:500;
}
.me-5 .pr-3:hover{
    text-decoration: none;
    color: rgb(15, 172, 235);
}
.nav-item:hover{
    cursor: pointer;
    color: rgb(133, 136, 135);
}
.viet {
    font-weight: 500;
    margin-left: 10px;
}
.home-foru .pr-3:hover{
    cursor: pointer;
}

.full-screen {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.9);
}
  
.flex-container-center {
    displaY: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
  
.full-screen{
    color: white
}
  
.hidden {
      display: none;
}
 
.unscroll{
    overflow: hidden;
}
  


