<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Ztechnews | Quản lý facts</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="../../static/img/Z-green-leaf.png">
  <link rel="stylesheet" href="../../static/bootstrap-4.6.0-dist/css/bootstrap.css">
  <link rel="stylesheet" href="../../static/bootstrap-icons-1.4.0/bootstrap-icons.css">
  <link rel="stylesheet" href="../../static/css/admin.css">
</head>
<body>
<!-- partial:index.partial.html -->
<div class="container-fluid" style="height:100vh;">
  <div class="row">
    <!-- sidebar -->
    <div class="col-md-3 col-lg-2 px-0 position-fixed h-100 bg-white shadow-sm sidebar" id="sidebar">
      <a href="#">
        <div class="my-3 text-center">
          <img src="../../static/img/Z-green-leaf.png" class="logo-img">
          <span class = "logo-name align-middle ml-1">Technews</span>
        </div>
      </a>
      <div class="list-group rounded-0">
        <a href="/admin/dashboard" class="list-group-item list-group-item-action border-0 align-items-center">
          <span class="bi bi-bar-chart-fill"></span>
          <span class="ml-2">Bảng điều khiển</span>
        </a>
        <a href="/admin/quanlybaivietvamucbai" class="list-group-item list-group-item-action border-0 align-items-center">
          <span class="bi bi-newspaper"></span>
          <span class="ml-2">Quản lý bài viết và các mục</span>
        </a>
        <a href="/admin/quanlyfacts" class="list-group-item list-group-item-action border-0 align-items-center active-page">
          <span class="bi bi-pencil-square"></span>
          <span class="ml-2">Quản lý facts</span>
        </a>
        <a href="/admin/quanlythanhvien" class="list-group-item list-group-item-action border-0 align-items-center">
          <span class="bi bi-person-lines-fill"></span>
          <span class="ml-2">Quản lý thành viên</span>
        </a>
        <a href="/admin/xulyhotro" class="list-group-item list-group-item-action border-0 align-items-center">
          <span class="bi bi-question-square-fill"></span>
          <span class="ml-2">Xử lý hỗ trợ</span>
        </a>
      </div>
    </div>
    <!-- overlay to close sidebar on small screens -->
    <div class="w-100 vh-100 position-fixed overlay d-none" id="sidebar-overlay"></div>
    <!-- note: in the layout margin auto is the key as sidebar is fixed -->
    <div class="col-md-9 col-lg-10 ml-md-auto px-0">
      <!-- top nav -->
      <nav class="w-100 d-flex px-4 py-2 mb-4 shadow-sm nav-bgcl">
        <!-- close sidebar -->
        <button class="btn py-0 d-lg-none" id="open-sidebar">
          <span class="bi bi-list text-white h3"></span>
        </button>
        <div class="dropdown ml-auto">
          <div class="btn py-0 d-flex align-items-center" id="logout-dropdown" data-toggle="dropdown" aria-expanded="false">
            <img src="../../static/img/avatar.jpg" alt="logo" class="avatar-img rounded-circle">
            <span class="ml-1 text-white">Admin</span>
            <span class="bi bi-chevron-down ml-1 small text-white"></span>
          </div>
          <div class="dropdown-menu dropdown-menu-right border-0 shadow-sm" aria-labelledby="logout-dropdown">
            <a class="dropdown-item text-right" href="/admin">Trang chủ</a>
            <a class="dropdown-item text-right" href="/admin/trangcanhan">Trang cá nhân</a>
            <a class="dropdown-item text-right" href="/admin/dashboard">Quản lý trang web</a>
            <a class="dropdown-item text-right text-danger" href="#">Đăng xuất</a>
          </div>
        </div>
      </nav>
      <!-- main content -->
      <main class="container-fluid">
        <section class="row equal">
          <div class="col-xl-3 d-flex flex-column mb-3">
            <article class="p-3 rounded shadow-sm mb-4 bg-light">
              <div class="align-items-center">
                <h5 class="mb-4 font-weight-bold admin-color">Số facts</h5>
              </div>
              <div class="d-block">
                <div class="d-flex justify-content-between">
                  <div>Hôm nay:</div>
                  <div class="font-italic">69</div>
                </div>
                <div class="d-flex justify-content-between">
                  <div>Hôm qua:</div>
                  <div class="font-italic">96</div>
                </div>
                <div class="d-flex justify-content-between">
                  <div>Tổng:</div>
                  <div class="font-italic">6969</div>
                </div>
              </div>
            </article>
            <article class="p-3 rounded shadow-sm bg-light h-100">
              <div class="align-items-center">
                <h5 class="mb-4 font-weight-bold admin-color">Danh sách facts</h5>
              </div>
              <div class="d-block">
                <div class="card my-1">
                  <table class="">
                    <tr>
                      <td class="p-0" style="background-color: beige;">
                        <img src="../../static/img/cheems-quality.jpg" class="rounded" style="max-height: 80px;" alt="...">
                      </td>
                      <td class="card-body py-2 px-3">
                        <h5 class="card-title font-weight-bold m-0">Khươngcheems</h5>
                        <p class="font-italic m-0"><small class="text-muted">3p trước</small></p>
                        <p class="m-0">Hello I'm cheems</p>
                        <p class="my-2">
                          <span class="bi bi-eye-fill admin-btn-round-click font-weight-bold"> Xem</span>
                          <span class="bi bi-trash-fill admin-btn-round-clickdg font-weight-bold"> Xóa</span>
                        </p>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="card my-1">
                  <table class="">
                    <tr>
                      <td class="p-0" style="background-color: beige;">
                        <img src="../../static/img/cheems-quality.jpg" class="rounded" style="max-height: 80px;" alt="...">
                      </td>
                      <td class="card-body py-2 px-3">
                        <h5 class="card-title font-weight-bold m-0">Khươngcheems</h5>
                        <p class="font-italic m-0"><small class="text-muted">3p trước</small></p>
                        <p class="m-0">Hello I'm cheems</p>
                        <p class="my-2">
                          <span class="bi bi-eye-fill admin-btn-round-click font-weight-bold"> Xem</span>
                          <span class="bi bi-trash-fill admin-btn-round-clickdg font-weight-bold"> Xóa</span>
                        </p>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="card my-1">
                  <table class="">
                    <tr>
                      <td class="p-0" style="background-color: beige;">
                        <img src="../../static/img/cheems-quality.jpg" class="rounded" style="max-height: 80px;" alt="...">
                      </td>
                      <td class="card-body py-2 px-3">
                        <h5 class="card-title font-weight-bold m-0">Khươngcheems</h5>
                        <p class="font-italic m-0"><small class="text-muted">3p trước</small></p>
                        <p class="m-0">Hello I'm cheems</p>
                        <p class="my-2">
                          <span class="bi bi-eye-fill admin-btn-round-click font-weight-bold"> Xem</span>
                          <span class="bi bi-trash-fill admin-btn-round-clickdg font-weight-bold"> Xóa</span>
                        </p>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="card my-2">
                  <table class="overflow-hidden">
                    <tr>
                      <td class="p-0" style="background-color: beige;">
                        <img src="../../static/img/cheems-quality.jpg" class="rounded" style="max-height: 80px;" alt="...">
                      </td>
                      <td class="card-body py-2 px-3">
                        <h5 class="card-title font-weight-bold m-0">Khươngcheems</h5>
                        <p class="font-italic m-0"><small class="text-muted">3p trước</small></p>
                        <p class="m-0">Hello I'm cheems</p>
                        <p class="my-2">
                          <span class="bi bi-eye-fill admin-btn-round-click font-weight-bold"> Xem</span>
                          <span class="bi bi-trash-fill admin-btn-round-clickdg font-weight-bold"> Xóa</span>
                        </p>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="w-100 text-center underline-hover">Xem thêm</div>
            </article>
          </div>
          <div class="col-xl-9 mb-3">
            <article class="p-3 rounded shadow-sm bg-light h-100 d-flex flex-column">
              <h4 class="text-center font-weight-bold" style="color: #00beef">Thống kê đăng facts</h4>
              <div class="d-flex justify-content-end pr-2">
                <select class="form-select" id="year-chart">
                  <option>2018</option>
                  <option>2019</option>
                  <option>2020</option>
                  <option selected>2021</option>
                </select>
              </div>
              <div class="h-100">
                <canvas id="myChart"></canvas>
              </div>
            </article>
          </div>
        </section>
      </main>
    </div>
  </div>
</div>
<!-- partial -->
  <script src="../../static/js/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="../../static/popper/dist/umd/popper.min.js"></script>
  <script src="../../static/js/jquery.sparkline.min.js"></script>
  <script src="../../static/bootstrap-4.6.0-dist/js/bootstrap.min.js"></script>
  <script src="../../static/js/admin.js"></script>
  <script src="../../static/js/quanlyfacts.js"></script>
</body>
</html>
