<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/css/main.css">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
   <script>
    $(document).ready(function(){
      if ($(window).width() > 750){
          $(".viet").hide();   
        }
        else
        {
          $(".viet").show();
        }

      $(".search-query").hide();

      $(".form-group .btn").click(function(){
        $(".search-query").toggle(200);
        
      }); 

      $(window).resize(function(){
        if ($(window).width() > 750){
          $(".viet").hide();   
        }
        else
        {
          $(".viet").show();
        }  
        if ($(window).width() > 1200){
          $(".info-box").show();   
        }
        else
        {
          $(".info-box").hide();
        }
      });

      $(".showpopup").click(function(){
        $(".pop1").removeClass("hidden");
        $("body").addClass("unscroll");
        $(".pop2").addClass("hidden");
        $("html, body").animate({ scrollTop: 0 }, "slow");
      });
      
      $(".closepopup").click(function(){
        $(".full-screen").addClass("hidden");
        $("body").removeClass("unscroll");
        $('iframe').attr('src', $('iframe').attr('src'));
      });

      $(".like").click(function(){
        $(".like").toggleClass("like1");
        if ($(".like-text").text() ==" Thích"){
          $(".like-text").text(" Đã thích");

        }
        else{
          $(".like-text").text(" Thích");
        };
      });

      $(".like2").click(function(){
        $(".like2").toggleClass("like1");
        if ($(".like-text1").text() ==" Thích"){
          $(".like-text1").text(" Đã thích");

        }
        else{
          $(".like-text1").text(" Thích");
        };
      });

      $(".fa-chevron-right").click(function(){
        $(".pop1").addClass("hidden");       
        $(".pop2").removeClass("hidden");
        $('.frame1').attr('src', $('.frame1').attr('src'));
      });

      $(".fa-chevron-left").click(function(){             
        $(".pop2").addClass("hidden");
        $(".pop1").removeClass("hidden");
        $('.frame2').attr('src', $('.frame2').attr('src'));
      });

      $(".ico-vietbai").click(function(){             
        $(".viet-bai").removeClass("hidden"); 
        $("body").addClass("unscroll");
        $("html, body").animate({ scrollTop: 0 }, "slow");
      });

      $(".dang-bai").click(function(){      
        if ( $(".tieudeviet").val() =="" ||  $(".noidungviet").val() =="" ){
          alert("Vui lòng điền đầy đủ nội dung !!!");
        }
        else{
          alert("Đã đăng bài !!!");
          $(".viet-bai").addClass("hidden");
          $(".tieudeviet").val("");
          $(".noidungviet").val("");
        };
      });

      $(".search-query").focus(function(){             
        $(".search-query").val(""); 
      });

      $(".chk-all").click(function(){             
        $(".chk-xoa").attr("checked",true); 
      });

      $(".xoa-ho-tro").click(function(){             
        if($(".check-xoa1").is(":checked"))
        {
            $('.list1').remove();
        }

        if($(".check-xoa2").is(":checked"))
        {
            $('.list2').remove();
        }

        if($(".check-xoa3").is(":checked"))
        {
            $('.list3').remove();
        }

        if($(".check-xoa4").is(":checked"))
        {
            $('.list4').remove();
        }

        if($(".check-xoa5").is(":checked"))
        {
            $('.list5').remove();
        }

        if($(".check-xoa6").is(":checked"))
        {
            $('.list6').remove();
        }

        if($(".check-xoa7").is(":checked"))
        {
            $('.list7').remove();
        }

        if($(".check-xoa8").is(":checked"))
        {
            $('.list8').remove();
        }
    
        $('.chk-xoa').attr('checked', false)

        if (($(".list1").length == false)&&($(".list2").length == false)&&($(".list3").length == false)&&($(".list4").length == false)&&($(".list5").length == false)&&($(".list6").length == false)&&($(".list7").length == false)&&($(".list8").length == false))
        {
            $('.dstrong').removeClass('hidden');
        }
    });
      
   });

  </script>
</head>
<div id="fb-root"></div>
<body>  
  <nav class="container navbar navbar-expand-md navbar-inverse  navbar-light pb-0">
    <!-- Brand -->
    <div class="form-group pt-2">
    <a class="navbar-brand" href="index-logged-admin.html"><img src="../static/img/Z-green-leaf.svg" width="45" height="45" alt="Logo"> ZTech</a>
    <!-- search -->
          <input type="text" class="search-query" placeholder="Type something...">
          <button type="submit" class="btn btn-circle"><i class="fa fa-search"></i></button>
    </div>
    
    

    <!-- toggle icon -->
    <button class="navbar-toggler mb-3" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
   </button>
   
    <!-- Links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto pb-2">
      <li class="nav-item">
        <a class="nav-link" href="#">Tin Hot</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Video</a>
      </li>
    </ul>
      <li class="nav-item li-dangnhap pr-3 pb-2 ico-vietbai">
        <i class="fas fa-feather btn-circle" style="padding-top: 10px; background-color: rgb(4, 229, 245);" data-toggle="tooltip" data-placement="top" title="Viết bài"></i>
        <span class="viet">Viết bài</span>
      </li>
      <li class="nav-item li-dangnhap pr-3 pb-2">
        <div class="dropdown" data-toggle="dropdown" aria-haspopup="true" data-placement="top" title="Cài đặt" aria-expanded="false" >
          <i class="fas fa-bell btn-circle" style="padding-top: 10px; background-color: rgb(4, 229, 245);" data-toggle="tooltip" data-placement="top" title="Thông báo"></i>
        <span class="viet">Thông báo</span>
          <div class="dropdown-menu dropdown-menu-right" style="text-align: left;" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#" > 
              <span style="color: blue; font-weight: 400;">KhuongPT</span> <br>
              <span style="font-size: small;">Bài viết của bạn đã bị xóa bởi đăng tải nội dung không lành mạnh !!</span>
            </a>
            <hr>
            <a class="dropdown-item" href="#" >
                <span style="color: blue; font-weight: 400;">Nekowimade</span> <br>
                <span style="font-size: small;">Đã bình luận bài đăng của bạn</span>
            </a>
            <hr>
            <a class="dropdown-item" href="#" >
                <span style="color: blue; font-weight: 400;">Tomblobla</span> <br>
                <span style="font-size: small;">Đã thích bài đăng của bạn</span>
            </a>
          </div>
        </div>
      </li>
      <li class="nav-item li-dangnhap pr-3 pb-2">
        <img class="rounded-circle" width="33" height="33" src="../static/img/khoa.jpg" alt="khoamod" data-toggle="tooltip" data-placement="top" title="Trang cá nhân">
        <span class="viet">Trang cá nhân</span>
      </li>
      
      <li class="nav-item li-dangnhap pb-2">
        <div class="btn-group">
          <a class=" dropdown"
             id="dropdownMenuButton" data-toggle="dropdown">
             <i id="dropdownMenuButton" class="fas fa-cog btn-circle" style="padding-top: 10px; "></i>
          </a>
          <div class="dropdown-menu">
           <a class="dropdown-item" href="../templates/profile.html"><i class="fas fa-user"></i> Trang cá nhân</a>
              <a class="dropdown-item" href="../templates/edit_profile.html"><i class="fas fa-info"></i> Thông tin cá nhân</a>
              <a class="dropdown-item" href="../templates/quanlyuser.html"><i class="fas fa-user-tag"></i> Quản lý user</a>
              <a class="dropdown-item" href="../templates/post-manager.html"><i class="fas fa-paperclip"></i> Quản lý bài viết</a>
              <a class="dropdown-item" href="../templates/Login.html"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a>
          </div>
       </div>
      </li>
    </div>
  </nav>
  <hr class="hr-shadow">
  <br>
  <br>
  <section class="container wrapper">
      <!-- title -->
    <div class="row ml-1 pb-3 container">
        <div style="font-weight: 500; font-size: x-large;">
            Danh Sách hỗ trợ đã nhận
          </div>
        <div class="ml-auto mr-3 form-inline">
            <div class="pr-3 point xoa-ho-tro" style="font-weight: 500; color: red;"> <i class="fas fa-trash-alt pr-1"></i>Xóa</div>
            <div class="point chk-all">Check all</div>
        </div>
      </div>
      <!-- danh sach -->
    <div class="list-group container pb-3">
        <a href="../templates/noidunghotro.html" class="list-group-item list-group-item-action flex-column align-items-start list1">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Người gửi: KietITK(mod)<small> 2h ago</small></h5>
            <input class="check-xoa1 chk-xoa" type="checkbox">
          </div>
          <p class="mb-1">Lỗi thông tin</p>
          <small>alo, bạn coi lại cho mình sao cái thông tin nó...</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list2">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Người gửi: KhuongPT(mod) <small>5h ago</small></h5>
            <input class="check-xoa2 chk-xoa" type="checkbox">
          </div>
          <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          <small class="text-muted">Donec id elit non mi porta.</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list3">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Người gửi: Tomblobla(user) <small>2 days ago</small></h5>
            <input class="check-xoa3 chk-xoa" type="checkbox">
          </div>
          <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          <small class="text-muted">Donec id elit non mi porta.</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list4">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Người gửi: Jerry(user) <small>14h ago</small></h5>
              <input class="check-xoa4 chk-xoa" type="checkbox">
            </div>
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            <small>Donec id elit non mi porta.</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list5">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Người gửi: Nekowimade(mod) <small>15m ago</small></h5>
              <input class="check-xoa5 chk-xoa" type="checkbox">
            </div>
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            <small class="text-muted">Donec id elit non mi porta.</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list6">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Người gửi: Puppy(user) <small>1 week ago</small></h5>
              <input class="check-xoa6 chk-xoa" type="checkbox">
            </div>
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            <small class="text-muted">Donec id elit non mi porta.</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list7">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Người gửi: Bing Bang(user) <small>2h ago</small></h5>
              <input class="check-xoa7 chk-xoa" type="checkbox">
            </div>
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            <small>Donec id elit non mi porta.</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list8">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Người gửi: airoicungkhatpro_vip_123(mod) <small>23h ago</small></h5>
              <input class="check-xoa8 chk-xoa" type="checkbox">
            </div>
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            <small class="text-muted">Donec id elit non mi porta.</small>
          </a>         
      </div>
      <div class="dstrong hidden" style="text-align: center; padding: 300px; font-weight: 500; font-size: x-large; color: rgb(4, 229, 245);">
        Danh sách trống !
      </div>

    <!-- viet bai -->
    <div class="viet-bai full-screen hidden flex-container-center">
      <div class="row form-inline " style="width: auto;" >
        <div class="rounded" style="width: 500px; background-color: azure; padding: 20px;">
          <img class="rounded-circle" src="../static/img/khoa.jpg" width="40px" height="40px" alt="">
          <span style="font-weight: 500;"   > <span class="point">Khoaminion</span><span style="float:right" class="closepopup"><span class="point"><i class="fas fa-times"></i></span></span></span> <br>
          <input type="text" class="mt-3 mb-3 tieudeviet" size="24" placeholder="Nhập tiêu đề !" style="font-size: xx-large; font-weight: 500;">
          <textarea id="w3review" name="w3review" rows="20" class="noidungviet" cols="62" placeholder="nhập nội dung nè !" style="resize: none;"></textarea>
          <hr>
          <div style="text-align: center;" class="form-inline">
            <div class="col-sm-4 point "><i class="fas fa-images"></i><span> Thêm ảnh: </span></div>
            <input type="file" id="myfile" name="myfile" multiple>
          </div>
          
          <hr>
          
          <button class="rounded dang-bai" style="margin-left: 190px; background-color: rgb(4, 229, 245); color: rgb(0, 0, 0);">Đăng</button>
        </div>
        
      </div>
      </div>
  </section>
  
</body>

  
  <!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <section class=" p-4 border-bottom " style="background-color: rgba(165, 162, 162, 0.05);">
    <!-- Left -->
    <div class="me-5 pl-30">
      <a href="" class="pr-3">
        TIN MỚI
      </a>
      <a href="" class="pr-3">
        SỰ KIỆN
      </a>
      <a href="" class="pr-3">
        VIDEO
      </a>
      <a href="" class="pr-3">
        GIẢI TRÍ
      </a>
      <a href="" class="pr-3">
        KHUYẾN MÃI
      </a>
    </div>
  </section>


  <!-- Section: Links  -->
  <section class="mb-3">
    <div class="container text-center text-sm-start mt-4">
      <!-- Grid row -->
      <div class="row mt-3 mb-3">
        <!-- Grid column -->
        <div class="col-sm-3 col-lg-3 col-xl-3 mx-auto mb-1">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            ZTECH
          </h6>
          <p><a class="text-reset" href="#!">Nội quy</a></p>
          <p><a class="text-reset" href="#!">Thỏa thuận</a></p>
          <p><a class="text-reset" href="#!">Góp ý</a></p>
          <p><a class="text-reset" href="#!">Liên hệ quảng cáo</a></p>           
          
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-sm-3 col-lg-3 col-xl-3 mx-auto mb-1">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Đối tác
          </h6>
          <p>
            <a href="#!" class="text-reset">Vinamilk</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Thegioididong</a>
          </p>
          <p>
            <a href="#!" class="text-reset">FPT Shop</a>
          </p>
          <p>
            <a href="#!" class="text-reset">ConCung</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-sm-3 col-lg-3 col-xl-3 mx-auto mb-1">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Mua bán
          </h6>
          <p>
            <a href="#!" class="text-reset">Điện thoại</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Máy ảnh</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Máy tính</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Xe cộ</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-sm-3 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-1">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Các kênh khác
          </h6>
          <p><a class="text-reset" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i> Facebook</a></p>
          <p><a class="text-reset" href="https://www.youtube.com/"><i class="fab fa-youtube"></i> Youtube</a></p>
          <p><a class="text-reset" href="https://www.pinterest.com/"><i class="fab fa-pinterest"></i> Pinterest</a></p>
          <p><a class="text-reset" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></i> Instagram</a></p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->
  <hr>
  <!-- Copyright -->
  <div class="text-center p-3 "  style=" font-size: small;">
    <span class="pr-4"> © 2021 Team Ztech </span> <span class="pr-4"> Địa chỉ: 69 Hạ Long, Phường
       4, TP.Vũng tàu </span><span class="pr-4"> Số điện thoại: 0283282719 </span> <span class="pr-4"> Chịu trách nhiệm nội dung: Hồ Trọng Vinh </span>
  </div>
</footer>
<!-- Footer -->
</html>
