<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/css/main.css">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script>
    $(document).ready(function(){
      $(".search-query").hide();
      $(".btn").click(function(){
        $(".search-query").toggle(200);
      });
      
    });
    </script>
</head>
<body>  
  <nav class="container navbar navbar-expand-sm navbar-inverse  navbar-light">
    <!-- Brand -->
    <a class="navbar-brand" href="#"><img src="../static/img/Z-green-leaf.svg" width="45" height="45" alt="Logo"> ZTech</a>
    <!-- search -->
    <form id="custom-search-form" class="form-search form-horizontal pull-right">
      <div class="input-append span12">
          <input type="text" class="search-query" placeholder="Type something...">
          <button type="submit" class="btn btn-circle"><i class="fa fa-search"></i></button>
      </div>
    </form>

    <!-- toggle icon -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
   </button>
   
    <!-- Links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Link 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link 2</a>
      </li>
    </ul>
      <li class="nav-item li-dangnhap">
        <a class="ml-auto text-dark "  href="#">Đăng nhập</a>
      </li>
    </div>
  </nav>
  <hr class="hr-shadow">
  <section>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam asperiores ut qui obcaecati 
    voluptatum aliquam quod ab explicabo consequuntur est fuga, ad magni amet. Quos quisquam necessitatibus corrupti vitae, ne

    que sed aspernatur sunt dolorum quibusdam facilis impedit, dolores in vero quam non expedita iure aliquid obcaecati minus offici
    is possimus amet suscipit rem voluptatum. Corporis maiores exercitationem incidunt nobis nemo quaerat nostrum ex expedita, blandit
    iis mollitia quae. Sapiente ipsam veritatis numquam incidunt pariatur facere optio dicta eos. Voluptates consequuntur odit, a repe
    llendus reprehenderit magni illo incidunt qui, quas dolores quisquam animi natus perferendis earum soluta totam ipsum aspernatur 
    maiores iste sequi voluptas optio cumque porro? Esse culpa, quaerat quas sed voluptate quidem deleniti assumenda debitis et quos de
    lectus voluptatum, adipisci eligendi, quod fugit. Mollitia temporibus aliquam magni a atque cumque ullam, iure facilis unde accusan
    tium ea maiores maxime pariatur animi necessitatibus in molestiae quibusdam. Asperiores possimus est odio consequatur id, hic archit
    ecto quibusdam, fugit itaque recusandae velit sunt mollitia nihil maxime nisi laborum, quia facere in debitis esse quae iusto delect
    us. Facere ratione odit necessitatibus quas nostrum quo, consectetur officiis tenetur rerum molestiae. Commodi quos, repellendus fug
    iat rerum atque nesciunt, illum dicta aut, iusto ex doloribus magni! Dolore architecto impedit fugiat similique magni voluptates, inc
    idunt et repellat, vitae possimus nam! Consectetur qui possimus minus eveniet sit hic necessitatibus odio officia in, deserunt reprehe
    nderit illum placeat dignissimos! Maxime possimus labore repellat eaque vero aspernatur fugit at, optio voluptatem distinctio commodi 
    molestiae cumque officiis facere odio architecto sapiente dolores quia velit veritatis illum mollitia? Nisi amet quisquam consectetur m
    agni, deleniti voluptas! Nemo repellendus earum vitae animi minima at tenetur numquam, sunt rerum exercitationem provident recusandae qu
    i quaerat consectetur optio enim eveniet amet quibusdam velit obcaecati dolore impedit culpa? Dolor quos, dolorum cupiditate dolores sed 
    unde id asperiores soluta, explicabo magnam iste quibusdam veritatis voluptas quas vitae illum aliquam non mollitia repellat. Beatae sapie
    nte quasi repellat eius dolore consequuntur quibusdam, odio excepturi illo inventore repudiandae ipsam rem dignissimos, ut expedita. Natus
     beatae neque corrupti unde minus voluptas provident iure, labore tempora facilis ipsum inventore numquam nostrum nam aliquid, animi, par
     iatur reprehenderit! Eaque, modi. Consectetur fuga ratione quis. Soluta perspiciatis quo deserunt voluptas temporibus adipisci, mollitia
      nemo asperiores voluptatem nam debitis, in deleniti nostrum veniam, eum molestias exercitationem. Iste saepe corrupti ducimus a maxime fu
      giat, inventore voluptas iusto. Nemo, sunt, voluptate doloribus ad cum dolores adipisci facilis, cupiditate est nostrum officiis rerum ull
      am esse consequuntur facere eius! Qui sapiente repellat tenetur quibusdam suscipit tempora deserunt hic exercitationem natus ipsum. Vel ist
      e consequuntur, laboriosam nostrum impedit mollitia similique error quasi ullam sed quam repellat sequi doloribus eligendi dolor quod aspern
      atur tempora. Hic laboriosam sunt labore cum, autem, dolores rerum cumque nesciunt voluptates repudiandae distinctio illo ducimus quis dolore
      m omnis similique placeat earum repellat illum architecto aut quisquam ea? Veniam fugit dignissimos culpa repellat commodi porro delectus perf
      erendis voluptate fugiat voluptatum tempore, accusamus, necessitatibus sit similique! Molestias, alias qui asperiores nulla reiciendis repudianda
      e ab nihil dignissimos quibusdam reprehenderit minus culpa mollitia in ex fugiat pariatur iure rerum? Totam, hic quo soluta atque modi laudantium po
      rro perspiciatis dignissimos quasi delectus veniam eligendi aliquid voluptatum excepturi culpa quam facere magni, cupiditate aliquam! Labo
      re, ex dolorum. Modi veritatis ipsa doloremque incidunt eum reiciendis velit eaque maiores inventore dolore, officia aliquam e
      rror porro animi iste quibusdam magnam sint! Corporis, obcaecati non? Iusto inventore vel, temporibus dicta nostrum nihil laudant
      ium laborum, ab ut adipisci odio reiciendis! Ipsa explicabo est quos dolorum facere! Atque in, laboriosam voluptatibus deserunt ut si
      milique, reiciendis est neque commodi quo voluptas, voluptatem quod a. Ipsum animi, unde explicabo illum dolor accusantium sunt enim rec
      usandae cum eveniet deserunt odio in corrupti nulla odit quod necessitatibus quos tempora consequuntur quisquam similique mollitia nemo t
      empore fugiat. Aliquam dolorum consequuntur, magni culpa consequatur alias hic vitae qui voluptates laboriosam unde blanditiis dicta
       quidem eligendi ut recusandae sed veniam soluta repellendus velit dolores. Sint asperiores quis ducimus id itaque. Quis, aut. Quae
        tempore quasi corrupti eaque iure, beatae perspiciatis pariatur commodi vel laborum maiores! Esse voluptates adipisci ullam dolorib
        us aliquam deserunt eos iste rem repellat neque? Maxime aspernatur quam iure omnis excepturi, deserunt beatae possimus doloribus bla
        nditiis voluptatibus. Perferendis vel iusto laboriosam? Inventore illo possimus vel temporibus explicabo odio delectus dignissimos, qu
        as placeat autem natus voluptate nulla cum eos minus veritatis eligendi pariatur, corrupti doloremque, optio vero! Nihil explicabo vol
        uptatum, culpa, dicta excepturi quidem odio pariatur laboriosam laudantium nobis fugit cum quo optio. Odio assumenda numquam provide
        nt commodi reiciendis soluta! Tempore optio similique deserunt delectus laboriosam? Quod cupiditate ea ipsum earum commodi exercitation
        em libero accusamus ipsa rerum eveniet, quas quis illum consequatur, veritatis numquam animi sint dolore distinctio deleniti. Atque bla
        nditiis laudantium eaque tempore labore in fugit dignissimos? Aut eaque facilis iusto? Nisi, amet aliquid rerum qui corrupti voluptas d
        ucimus, error incidunt eum animi atque ullam doloribus, tempora fuga veniam rem nihil asperiores minus saepe similique nobis. Voluptatibus
         maxime rerum, iste nobis fugiat sint voluptates earum quis amet officia sapiente saepe quasi aut veritatis quo quibusdam quia dignissimos q
         uae non dolorem eaque? Ipsum soluta asperiores harum qui aspernatur, eveniet tenetur repellendus tempora? Commodi, facere excepturi facilis q
         uidem corrupti quasi earum a minus? Adipisci consequuntur laborum officiis, praesentium exercitationem reprehenderit quam. Cupiditate sed e
         ius dignissimos, accusamus eligendi provident similique dicta asperiores. Quidem voluptate quas atque enim! Quas dolor quos atque, nobis sit a
          alias, amet, ipsum iure obcaecati recusandae autem sed repellendus fugiat. Tempore officiis ut maiores est minus qui dolorum consectetur facil
          is eligendi reiciendis labore natus ab provident quod accusantium, minima, exercitationem tempora odit! Non deserunt sapiente aspernatur magnam 
          laborum neque culpa harum tempora doloremque tenetur adipisci quod maiores, deleniti dolorum nihil perferendis a accusantium. Quis vitae dolore a
          lias enim unde necessitatibus quae veritatis eos, nostrum rerum aut fugiat pariatur aspernatur id vero impedit porro inventore voluptatum at accu
          amus quam fugit! Nihil cupiditate illo sed voluptatem quam suscipit, doloremque minus, at iste ducimus atque, iure molestias nesciunt voluptas bla
          nditiis maxime exercitationem? Sed in a, asperiores modi ea provident! Delectus sit saepe commodi ratione. Error repellendus architecto beatae rem
           maiores sed consequatur nisi ullam.
           Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam asperiores ut qui obcaecati 
    voluptatum aliquam quod ab explicabo consequuntur est fuga, ad magni amet. Quos quisquam necessitatibus corrupti vitae, ne

    que sed aspernatur sunt dolorum quibusdam facilis impedit, dolores in vero quam non expedita iure aliquid obcaecati minus offici
    is possimus amet suscipit rem voluptatum. Corporis maiores exercitationem incidunt nobis nemo quaerat nostrum ex expedita, blandit
    iis mollitia quae. Sapiente ipsam veritatis numquam incidunt pariatur facere optio dicta eos. Voluptates consequuntur odit, a repe
    llendus reprehenderit magni illo incidunt qui, quas dolores quisquam animi natus perferendis earum soluta totam ipsum aspernatur 
    maiores iste sequi voluptas optio cumque porro? Esse culpa, quaerat quas sed voluptate quidem deleniti assumenda debitis et quos de
    lectus voluptatum, adipisci eligendi, quod fugit. Mollitia temporibus aliquam magni a atque cumque ullam, iure facilis unde accusan
    tium ea maiores maxime pariatur animi necessitatibus in molestiae quibusdam. Asperiores possimus est odio consequatur id, hic archit
    ecto quibusdam, fugit itaque recusandae velit sunt mollitia nihil maxime nisi laborum, quia facere in debitis esse quae iusto delect
    us. Facere ratione odit necessitatibus quas nostrum quo, consectetur officiis tenetur rerum molestiae. Commodi quos, repellendus fug
    iat rerum atque nesciunt, illum dicta aut, iusto ex doloribus magni! Dolore architecto impedit fugiat similique magni voluptates, inc
    idunt et repellat, vitae possimus nam! Consectetur qui possimus minus eveniet sit hic necessitatibus odio officia in, deserunt reprehe
    nderit illum placeat dignissimos! Maxime possimus labore repellat eaque vero aspernatur fugit at, optio voluptatem distinctio commodi 
    molestiae cumque officiis facere odio architecto sapiente dolores quia velit veritatis illum mollitia? Nisi amet quisquam consectetur m
    agni, deleniti voluptas! Nemo repellendus earum vitae animi minima at tenetur numquam, sunt rerum exercitationem provident recusandae qu
    i quaerat consectetur optio enim eveniet amet quibusdam velit obcaecati dolore impedit culpa? Dolor quos, dolorum cupiditate dolores sed 
    unde id asperiores soluta, explicabo magnam iste quibusdam veritatis voluptas quas vitae illum aliquam non mollitia repellat. Beatae sapie
    nte quasi repellat eius dolore consequuntur quibusdam, odio excepturi illo inventore repudiandae ipsam rem dignissimos, ut expedita. Natus
     beatae neque corrupti unde minus voluptas provident iure, labore tempora facilis ipsum inventore numquam nostrum nam aliquid, animi, par
     iatur reprehenderit! Eaque, modi. Consectetur fuga ratione quis. Soluta perspiciatis quo deserunt voluptas temporibus adipisci, mollitia
      nemo asperiores voluptatem nam debitis, in deleniti nostrum veniam, eum molestias exercitationem. Iste saepe corrupti ducimus a maxime fu
      giat, inventore voluptas iusto. Nemo, sunt, voluptate doloribus ad cum dolores adipisci facilis, cupiditate est nostrum officiis rerum ull
      am esse consequuntur facere eius! Qui sapiente repellat tenetur quibusdam suscipit tempora deserunt hic exercitationem natus ipsum. Vel ist
      e consequuntur, laboriosam nostrum impedit mollitia similique error quasi ullam sed quam repellat sequi doloribus eligendi dolor quod aspern
      atur tempora. Hic laboriosam sunt labore cum, autem, dolores rerum cumque nesciunt voluptates repudiandae distinctio illo ducimus quis dolore
      m omnis similique placeat earum repellat illum architecto aut quisquam ea? Veniam fugit dignissimos culpa repellat commodi porro delectus perf
      erendis voluptate fugiat voluptatum tempore, accusamus, necessitatibus sit similique! Molestias, alias qui asperiores nulla reiciendis repudianda
      e ab nihil dignissimos quibusdam reprehenderit minus culpa mollitia in ex fugiat pariatur iure rerum? Totam, hic quo soluta atque modi laudantium po
      rro perspiciatis dignissimos quasi delectus veniam eligendi aliquid voluptatum excepturi culpa quam facere magni, cupiditate aliquam! Labo
      re, ex dolorum. Modi veritatis ipsa doloremque incidunt eum reiciendis velit eaque maiores inventore dolore, officia aliquam e
      rror porro animi iste quibusdam magnam sint! Corporis, obcaecati non? Iusto inventore vel, temporibus dicta nostrum nihil laudant
      ium laborum, ab ut adipisci odio reiciendis! Ipsa explicabo est quos dolorum facere! Atque in, laboriosam voluptatibus deserunt ut si
      milique, reiciendis est neque commodi quo voluptas, voluptatem quod a. Ipsum animi, unde explicabo illum dolor accusantium sunt enim rec
      usandae cum eveniet deserunt odio in corrupti nulla odit quod necessitatibus quos tempora consequuntur quisquam similique mollitia nemo t
      empore fugiat. Aliquam dolorum consequuntur, magni culpa consequatur alias hic vitae qui voluptates laboriosam unde blanditiis dicta
       quidem eligendi ut recusandae sed veniam soluta repellendus velit dolores. Sint asperiores quis ducimus id itaque. Quis, aut. Quae
        tempore quasi corrupti eaque iure, beatae perspiciatis pariatur commodi vel laborum maiores! Esse voluptates adipisci ullam dolorib
        us aliquam deserunt eos iste rem repellat neque? Maxime aspernatur quam iure omnis excepturi, deserunt beatae possimus doloribus bla
        nditiis voluptatibus. Perferendis vel iusto laboriosam? Inventore illo possimus vel temporibus explicabo odio delectus dignissimos, qu
        as placeat autem natus voluptate nulla cum eos minus veritatis eligendi pariatur, corrupti doloremque, optio vero! Nihil explicabo vol
        uptatum, culpa, dicta excepturi quidem odio pariatur laboriosam laudantium nobis fugit cum quo optio. Odio assumenda numquam provide
        nt commodi reiciendis soluta! Tempore optio similique deserunt delectus laboriosam? Quod cupiditate ea ipsum earum commodi exercitation
        em libero accusamus ipsa rerum eveniet, quas quis illum consequatur, veritatis numquam animi sint dolore distinctio deleniti. Atque bla
        nditiis laudantium eaque tempore labore in fugit dignissimos? Aut eaque facilis iusto? Nisi, amet aliquid rerum qui corrupti voluptas d
        ucimus, error incidunt eum animi atque ullam doloribus, tempora fuga veniam rem nihil asperiores minus saepe similique nobis. Voluptatibus
         maxime rerum, iste nobis fugiat sint voluptates earum quis amet officia sapiente saepe quasi aut veritatis quo quibusdam quia dignissimos q
         uae non dolorem eaque? Ipsum soluta asperiores harum qui aspernatur, eveniet tenetur repellendus tempora? Commodi, facere excepturi facilis q
         uidem corrupti quasi earum a minus? Adipisci consequuntur laborum officiis, praesentium exercitationem reprehenderit quam. Cupiditate sed e
         ius dignissimos, accusamus eligendi provident similique dicta asperiores. Quidem voluptate quas atque enim! Quas dolor quos atque, nobis sit a
          alias, amet, ipsum iure obcaecati recusandae autem sed repellendus fugiat. Tempore officiis ut maiores est minus qui dolorum consectetur facil
          is eligendi reiciendis labore natus ab provident quod accusantium, minima, exercitationem tempora odit! Non deserunt sapiente aspernatur magnam 
          laborum neque culpa harum tempora doloremque tenetur adipisci quod maiores, deleniti dolorum nihil perferendis a accusantium. Quis vitae dolore a
          lias enim unde necessitatibus quae veritatis eos, nostrum rerum aut fugiat pariatur aspernatur id vero impedit porro inventore voluptatum at accu
          amus quam fugit! Nihil cupiditate illo sed voluptatem quam suscipit, doloremque minus, at iste ducimus atque, iure molestias nesciunt voluptas bla
          nditiis maxime exercitationem? Sed in a, asperiores modi ea provident! Delectus sit saepe commodi ratione. Error repellendus architecto beatae rem
           maiores sed consequatur nisi ullam.
  </section>
</body>

  
  <!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <section class=" p-4 border-bottom " style="background-color: rgba(165, 162, 162, 0.05);">
    <!-- Left -->
    <div class="me-5 pl-30">
      <a href="" class="pr-3">
        TIN MỚI
      </a>
      <a href="" class="pr-3">
        SỰ KIỆN
      </a>
      <a href="" class="pr-3">
        VIDEO
      </a>
      <a href="" class="pr-3">
        GIẢI TRÍ
      </a>
      <a href="" class="pr-3">
        KHUYẾN MÃI
      </a>
    </div>
  </section>


  <!-- Section: Links  -->
  <section class="mb-3">
    <div class="container text-center text-md-start mt-4">
      <!-- Grid row -->
      <div class="row mt-3 mb-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-1">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            ZTECH
          </h6>
          <p><a class="text-reset" href="#!">Nội quy</a></p>
          <p><a class="text-reset" href="#!">Thỏa thuận</a></p>
          <p><a class="text-reset" href="#!">Góp ý</a></p>
          <p><a class="text-reset" href="#!">Liên hệ quảng cáo</a></p>           
          
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-1">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Đối tác
          </h6>
          <p>
            <a href="#!" class="text-reset">Vinamilk</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Thegioididong</a>
          </p>
          <p>
            <a href="#!" class="text-reset">FPT Shop</a>
          </p>
          <p>
            <a href="#!" class="text-reset">ConCung</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-1">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Mua bán
          </h6>
          <p>
            <a href="#!" class="text-reset">Điện thoại</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Máy ảnh</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Máy tính</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Xe cộ</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-1">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Các kênh khác
          </h6>
          <p><a class="text-reset" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i> Facebook</a></p>
          <p><a class="text-reset" href="https://www.youtube.com/"><i class="fab fa-youtube"></i> Youtube</a></p>
          <p><a class="text-reset" href="https://www.pinterest.com/"><i class="fab fa-pinterest"></i> Pinterest</a></p>
          <p><a class="text-reset" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></i> Instagram</a></p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->
  <hr>
  <!-- Copyright -->
  <div class="text-center p-3 "  style=" font-size: small;">
    <span class="pr-4"> © 2021 Team Ztech </span> <span class="pr-4"> Địa chỉ: 69 Hạ Long, Phường
       4, TP.Vũng tàu </span><span class="pr-4"> Số điện thoại: 0283282719 </span> <span class="pr-4"> Chịu trách nhiệm nội dung: Hồ Trọng Vinh </span>
  </div>
</footer>
<!-- Footer -->
  


</html>
