<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/css/main.css">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script>
    $(document).ready(function(){
      if ($(window).width() > 750){
          $(".viet").hide();   
        }
        else
        {
          $(".viet").show();
        }

      $(".search-query").hide();

      $(".form-group .btn").click(function(){
        $(".search-query").toggle(200);
        
      }); 

      $(window).resize(function(){
        if ($(window).width() > 750){
          $(".viet").hide();   
        }
        else
        {
          $(".viet").show();
        }  
        if ($(window).width() > 1200){
          $(".info-box").show();   
        }
        else
        {
          $(".info-box").hide();
        }
      });

      $(".showpopup").click(function(){
        $(".pop1").removeClass("hidden");
        $("body").addClass("unscroll");
        $(".pop2").addClass("hidden");
        $("html, body").animate({ scrollTop: 0 }, "slow");
      });
      
      $(".closepopup").click(function(){
        $(".full-screen").addClass("hidden");
        $("body").removeClass("unscroll");
        $('iframe').attr('src', $('iframe').attr('src'));
      });

      $(".like").click(function(){
        $(".like").toggleClass("like1");
        if ($(".like-text").text() ==" Thích"){
          $(".like-text").text(" Đã thích");

        }
        else{
          $(".like-text").text(" Thích");
        };
      });

      $(".like2").click(function(){
        $(".like2").toggleClass("like1");
        if ($(".like-text1").text() ==" Thích"){
          $(".like-text1").text(" Đã thích");

        }
        else{
          $(".like-text1").text(" Thích");
        };
      });

      $(".fa-chevron-right").click(function(){
        $(".pop1").addClass("hidden");       
        $(".pop2").removeClass("hidden");
        $('.frame1').attr('src', $('.frame1').attr('src'));
      });

      $(".fa-chevron-left").click(function(){             
        $(".pop2").addClass("hidden");
        $(".pop1").removeClass("hidden");
        $('.frame2').attr('src', $('.frame2').attr('src'));
      });

      $(".ico-vietbai").click(function(){             
        $(".viet-bai").removeClass("hidden"); 
        $("body").addClass("unscroll");
        $("html, body").animate({ scrollTop: 0 }, "slow");
      });

      $(".dang-bai").click(function(){      
        if ( $(".tieudeviet").val() =="" ||  $(".noidungviet").val() =="" ){
          alert("Vui lòng điền đầy đủ nội dung !!!");
        }
        else{
          alert("Đã đăng bài !!!");
          $(".viet-bai").addClass("hidden");
          $(".tieudeviet").val("");
          $(".noidungviet").val("");
        };
      });

      $(".search-query").focus(function(){             
        $(".search-query").val(""); 
      });
    });

  </script>
</head>
<body>  
  
  <nav class="container navbar navbar-expand-md navbar-inverse  navbar-light pb-0">
    <div class="form-group pt-2">
      <a class="navbar-brand" href="#"><img src="../static/img/Z-green-leaf.svg" width="45" height="45" alt="Logo"> ZTech</a>
      <!-- search -->
            <input type="text" class="search-query" placeholder="Type something...">
            <button type="submit" class="btn btn-circle"><i class="fa fa-search"></i></button>
      </div>

    <!-- toggle icon -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
   </button>
   
    <!-- Links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto pb-2">
      <li class="nav-item">
        <a class="nav-link" href="#">Tin Hot</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Video</a>
      </li>
    </ul>
      <li class="nav-item li-dangnhap pb-2">
        <a class="ml-auto text-dark "  href="#">Đăng nhập</a>
      </li>
    </div>
  </nav>
  <hr class="hr-shadow">
  <!-- end of nav bar -->
  <section class="container">
    <!-- foru -->
    <div class="container home-foru form-inline pb-3">
      
      <div class="pr-3" style="font-weight: 500; font-size: x-large;">
        Home
      </div>
      <div class="pr-3" style="font-weight: 500; font-size: x-large;">
        Dành cho bạn
      </div>
      <div class="pr-3" style="font-weight: 500; font-size: x-large;">
        Tin Hot
      </div>
  </div>
  <!-- facts -->
  <div class="mb-5 pb-5">
    
    <div class="form-inline" style=" height: 100px; background-size: contain;">
       
      <div class="scrollmenu rounded " style=" overflow: auto; white-space: nowrap; height: 170px;">       
        <span class="ml-2">
          <img class="mr-2 rounded" style=" opacity: 100%; height: 150px; width:85px; " src="../static/img/khoa.jpg"  alt="">
        </span>  
        <span class="showpopup">
          <span style="margin-left: -70px; margin-right: 30px;"><i style="font-size: xx-large;"; class="fa fa-plus-circle" aria-hidden="true"></i></span>
          <img  class="mr-2 rounded" style=" opacity: 100%; height: 150px; width: 85px;" src="../static/img/error-wait.gif" alt=""></span>
        <span>
          <span style="margin-left: -90px; margin-right: 20px; color: rgb(255, 255, 255); font-weight: 500; font-size: small;">Khoaminion</span>
          <img class="mr-2 rounded" style="  height: 150px; width: 85px;" src="../static/img/dark-dark-netflix.gif" alt=""></span>
        <span>
          <span style="margin-left: -75px; margin-right: 25px; color: rgb(255, 255, 255); font-weight: 500;font-size: small; ">KietITK</span>
          <img class="mr-2 rounded" style="  height: 150px; width: 85px;" src="../static/img/error-computer.gif" alt=""></span>
         <span>
          <span style="margin-left: -80px; margin-right: 23px; color: rgb(255, 255, 255); font-weight: 500; font-size: small;">Bigbang</span>
          <img class="mr-2 rounded" style="  height: 150px; width: 85px;" src="../static/img/doge-samar.gif" alt=""></span>
        <span>
          <span style="margin-left: -94px; margin-right: 10px; color: rgb(255, 255, 255); font-weight: 500; font-size: small;">Nekowimade</span>
          <img class="mr-2 rounded" style="  height: 150px; width: 85px;" src="../static/img/gabriel-dropout-gabriel-temna.gif" alt=""></span>
        <span>
          <span style="margin-left: -90px; margin-right: 20px; color: rgb(255, 255, 255); font-weight: 500; font-size: small;">Tomblobla</span>
          <img class="mr-2 rounded" style="  height: 150px; width: 85px;" src="../static/img/cat-funny-cat.gif" alt=""></span>
        <span>
          <span style="margin-left: -90px; margin-right: 20px; color: rgb(255, 255, 255); font-weight: 500; font-size: small;">Tomblobla</span>
          <img class="mr-2 rounded" style="  height: 150px; width: 85px;" src="../static/img/cat-funny-cat.gif" alt=""></span>
        <span>
          <span style="margin-left: -85px; margin-right: 17px; color: rgb(255, 255, 255); font-weight: 500; font-size: small;">KhuongPT</span>
          <img class="mr-2 rounded" style="  height: 150px; width: 85px;" src="../static/img/dark-trilogy-shocked-face.gif" alt=""></span>
        <span>
          <span style="margin-left: -80px; margin-right: 23px; color: rgb(255, 255, 255); font-weight: 500; font-size: small;">Bigbang</span>
          <img class="mr-2 rounded" style="  height: 150px; width: 85px;" src="../static/img/doge-samar.gif" alt=""></span>
        <span>
          <span style="margin-left: -80px; margin-right: 23px; color: rgb(255, 255, 255); font-weight: 500; font-size: small;">Bigbang</span>
          <img class="mr-2 rounded" style="  height: 150px; width: 85px;" src="../static/img/doge-samar.gif" alt=""></span>
        <span>
          <span style="margin-left: -94px; margin-right: 10px; color: rgb(255, 255, 255); font-weight: 500; font-size: small;">Nekowimade</span>
          <img class="mr-2 rounded" style="  height: 150px; width: 85px;" src="../static/img/gabriel-dropout-gabriel-temna.gif" alt=""></span>
        <span>
          <span style="margin-left: -90px; margin-right: 20px; color: rgb(255, 255, 255); font-weight: 500; font-size: small;">Tomblobla</span>
          <img class="mr-2 rounded" style="  height: 150px; width: 85px;" src="../static/img/cat-funny-cat.gif" alt=""></span>
        <span>
          <span style="margin-left: -94px; margin-right: 10px; color: rgb(255, 255, 255); font-weight: 500; font-size: small;">Nekowimade</span>
          <img class="mr-2 rounded" style="  height: 150px; width: 85px;" src="../static/img/gabriel-dropout-gabriel-temna.gif" alt=""></span>
        <span>
          <span style="margin-left: -90px; margin-right: 20px; color: rgb(255, 255, 255); font-weight: 500; font-size: small;">Tomblobla</span>
          <img class="mr-2 rounded" style="  height: 150px; width: 85px;" src="../static/img/cat-funny-cat.gif" alt=""></span>         
        <span>
          <span style="margin-left: -67px; margin-right: 30px; color: rgb(255, 255, 255); font-weight: 500; font-size: small;">Jerry</span>
          <img class="rounded" style="  height: 150px; width: 85px;" src="../static/img/mikey-tokyo-revengers.gif" alt=""></span>
          <span style="margin-left: -70px; margin-right: 33px; color: rgb(255, 255, 255); font-weight: 500;font-size: small;">Datoc</span>
      </div>      
    </div>
    
  </div>
  <!--end facts -->

 <!-- nút viết bài -->
    <div class="row">
      <button class="col-sm-9 borderactive ico-vietbai btn btn-primary btn-block rounded"  type="button" >+VIẾT BÀI CHIA SẺ, ĐẶT CÂU HỎI, SHARE LINK</button>
      <div class="col-sm-3"></div>
    </div>
    <br>
     <!-- khung 1 -->
    <div class="row ">
      <div class="row col-9">
        <a class="col-9" href=""><img class="col-12" src="../static/img/maybay.jpg" ></a>  
        <div class="card col-3" style="width: 100%;background-color:#a2acc6;">
          <a href=""><img class="card-img-top" src="../static/img/daidich.jpg" alt="Card image" style="width:100%"></a>
          <div class="card-body">
            <p class="card-text">Hassler - 35 phút</p>
            <a href="#">Đại dịch diễn biến 2021</a>
          </div>
        </div>
        <br>
        <div class="col-9">rubi lee - 16 phút </div> 
        <div class="col-3"></div>
        <a class="col-9" href="" >Chuyến bay samsung...</a>
       </div>
      <div class="col-3">
        <h1 style="font-size: 25px;font-weight: bolder;">Cộng đồng nổi bật</h1>
        <div class="row">
          <img class= "row col-6 rounded" style="padding-left: 10%;"height=150% width="100%" src="../static/img/banphim.jpg"> <a href="" class=" col-6">Phím cơ </a>
          <img class= "row col-6 rounded" style="padding-left: 10%; padding-top: 3%;"height=150% width="100%" src="../static/img/skmd.jpg"> <a href="" class=" col-6">Sống Khỏe mùa dịch</a>
          <img class= "row col-6 rounded" style="padding-left: 10%;padding-top: 3%;"height=150% width="100%" src="../static/img/glx.jpg"> <a href="" class=" col-6">SamsungGalaxy </a>
          <img class= "row col-6 rounded" style="padding-left: 10%; padding-top: 3%;"height=150% width="100%" src="../static/img/macbok.jpg"> <a href="" class=" col-6">MacBook</a>
          <img class= "row col-6 rounded" style="padding-left: 10%; padding-top: 3%;padding-bottom: 3%;"height=150% width="100%" src="../static/img/ip.jpg"> <a href="" class=" col-6">iPhone</a>
          <div class= "row col-lg-3"></div>
          <button style="padding-left: 25px;padding-top: 3%;" type="button" class="col-9 btn btn-outline-primary">Xem thêm</button>
        </div>
      </div>
    </div>

   
    <!-- khung 2 -->
    <div class="row">
      <div class="card col-3" style="width:100%;">
        <a href=""> <img class="card-img-top" src="../static/img/youtube.jpg" alt="Card image" style="width:100%"></a>
        <div class="card-body">
          <p class="card-text">TuyenTEX - 1 giờ</p>
          <a href="#">Đã gần 1 năm mình sử dụng youtube premium, vài chia sẻ cho mọi người...</a>
        </div>
      </div>
      <br>
      <div class="card col-3" style="width:100%;">
        <a href=""><img class="card-img-top" src="../static/img/dt.jpg" alt="Card image" style="width:100%"></a>
        <div class="card-body">
          <p class="card-text">cuhiep - 2 giờ</p>
          <a href="#">Dùng thun quần để làm kẹp giữ Spen vào Fold3
          </a>
        </div>
      </div>
      <br>
      <div class="card col-3" style="width:100%;">
        <a href=""><img class="card-img-top" src="../static/img/wc.jpg" alt="Card image" style="width:100%"></a>
        <div class="card-body">
          <p class="card-text">cuhiep - 2 giờ</p>
          <a href="#">Trên tay DJI Mini SE: nhỏ, nhẹ dễ bay, khả năng quay 2.7K 30p, phù hợp cho người mới</a>
        </div>
      </div>
      <div class="col-3">
        <h1 style="font-size: 25px;font-weight: bolder;">Thảo luận trong ngày</h1>
        <div class="row">
         <a href=""><img class="col-12" style="padding-right: 5px; border-radius: 10%;" src="../static/img/bagia.jpg"></a> 
          <a class="col-12" href=""> Đây là người tạo ra vaccine AstraZeneca: chúng tôi đua với virus, không phải với các hãng khác</a>
        </div>
    
      </div>
      <br>
    </div>
    <br>
    <hr>
     <!-- xem nhanh -->
    <h1 style="font-size:large; padding-left: 15px " >Xem nhanh</h1>
    <div class="row">  
       <div class="row col-9" >
        <a class="col-3" href=""><img class="col-12 bdr "  src="../static/img/xebay.gif"></a> <a class="col-2 "href="">Bị phạt 1,2 tỷ vì lái xe bán tải "bay qua lạch nước ở Mỹ"</a>
        <a class="col-3" href=""><img class="col-12 bdr "  src="../static/img/apw.jpg"></a> <a class="col-4 "href="">Thêm bằng chứng cho thấy Apple Watch Series 7 sẽ có kích thước 41mm và 45mm</a>

        <a class="col-3" href=""><img class="col-12 bdr"  src="../static/img/ip13.jpg"></a> <a class="col-2 "href="">Rò rỉ tem trên hộp iPhone 13</a>
        <a class="col-3" href=""><img class="col-12 bdr " src="../static/img/foxconn.jpg"></a> <a class="col-4 "href="">Foxcom đang tuyển gấp 200.000 nhân công để lắp ráp iPhone 13</a>
  
        <a class="col-3" href=""><img class="col-12 bdr"  src="../static/img/car.jpg"> </a><a class="col-2 "href="">Range Rover Sport SVR Ultimate: chiếc SUV mạnh nhất</a>
        <a class="col-3" href=""><img class="col-12 bdr " src="../static/img/gai.jpg"> </a><a class="col-4 "href="">Chức năng chỉnh sửa hình ảnh trên Google Photos</a>
      
        <a class="col-3" href=""><img class="col-12 bdr"  src="../static/img/macc.jpg"></a><a class="col-2 "href="">Doanh số máy Mac M1 tăng mạnh, nhưng iPad lại ảm đảm</a>
        <a class="col-3" href=""><img class="col-12 bdr " src="../static/img/surface.jpg"></a><a class="col-4"href="">Mời anh em xem hình ảnh render của Surface Book Studio: khi laptop kết hợp máy tính AIO</a>

      </div>
      <div class="col-3">
        <h1 style="font-size: 25px;font-weight: bolder;">Cộng đồng nổi bật</h1>
        <div class="row">
          <img class= "row col-6 rounded" style="padding-left: 10%;"height=150% width="100%" src="../static/img/nghiengame.jpg"> <a href="" class=" col-6">Những thông tin cơ bản về Nintendo Switch </a>
          <img class= "row col-6 rounded" style="padding-left: 10%; padding-top: 3%;"height=150% width="100%" src="../static/img/crenn.jpg"> <a href="" class=" col-6">Các lưu ý khi mua màn hình USB-C </a>
          <img class= "row col-6 rounded" style="padding-left: 10%;padding-top: 3%;"height=150% width="100%" src="../static/img/galaxyZ.jpg"> <a href="" class=" col-6">Cách xem Instagram full màn hình  </a>
          <img class= "row col-6 rounded" style="padding-left: 10%; padding-top: 3%;"height=150% width="100%" src="../static/img/mh.jpg"> <a href="" class=" col-6">Những điều chú ý khi dùng máy cá nhân </a>
          <img class= "row col-6 rounded" style="padding-left: 10%; padding-top: 3%;padding-bottom: 3%;"height=150% width="100%" src="../static/img/laptopcty.jpg"> <a href="" class=" col-6">Những lưu ý khi dùng laptop, desktop </a>
          <img class= "row col-6 rounded" style="padding-left: 10%; padding-top: 3%;"height=150% width="100%" src="../static/img/dtip.jpg"> <a href="" class=" col-6">iOS 15 cho phép tắt hoàn toàn Night Mode </a>
          <img class= "row col-6 rounded" style="padding-left: 10%; padding-top: 3%;padding-bottom: 3%;"height=150% width="100%" src="../static/img/lol.jpg"> <a href="" class=" col-6">Chơi League of Legends trên Mac M1 ok</a>
        </div>
      </div>
      <br>
    </div>
    <br>
    <hr>
     <!-- xu hướng -->
    <h1 style="font-size: large;padding-right: 100px; "><i class="fas fa-chart-line"></i> Xu Hướng</h1>
    <div class="row">
      <div class=" row col-sm-9 col-lg-9 col-xl-9 ">
        <div class="col-1" style="font-size: xx-large;color: #8f9bb3;font-weight: bolder;">#1</div> <p class="col-5">Vì sao máy ifan nghĩ app trên IOS ngon hơn trên Android nhỉ?</p>
        <div class="col-1" style="font-size: xx-large;color: #8f9bb3;font-weight: bolder;">#2</div> <p class="col-5">Đã gần 1 năm mình sử dụng youtube premium, vài chia sẻ cho mọi người...</p>
        <div class="col-1"></div><img class="col-1 rounded-circle" height="8%" width="1%" src ="../static/img/khoa.jpg"><a class="col-4"href="" style="font-size: small;">Đoàn văn Khoa</a>
        <div class="col-1"></div><img class="col-1 rounded-circle" height="8%" width="1%" src ="../static/img/khoa.jpg"><a class="col-4"href="" style="font-size: small;">Tester</a>
        <div class="col-1" style="font-size: xx-large;color: #8f9bb3;font-weight: bolder;">#3</div> <p class="col-5">Vì sao máy ifan nghĩ app trên IOS ngon hơn trên Android nhỉ?</p>
        <div class="col-1" style="font-size: xx-large;color: #8f9bb3;font-weight: bolder;">#4</div> <p class="col-5">Đã gần 1 năm mình sử dụng youtube premium, vài chia sẻ cho mọi người...</p>
        <div class="col-1"></div><img class="col-1 rounded-circle" height="8%" width="1%" src ="../static/img/khoa.jpg"><a class="col-4" href="" style="font-size: small;">Đoàn văn Khoa</a>
        <div class="col-1"></div><img class="col-1 rounded-circle" height="8%" width="1%" src ="../static/img/khoa.jpg"><a class="col-4" href="" style="font-size: small;">Tester</a>
        <div class="col-1" style="font-size: xx-large;color: #8f9bb3;font-weight: bolder;">#5</div> <p class="col-5">Vì sao máy ifan nghĩ app trên IOS ngon hơn trên Android nhỉ?</p>
        <div class="col-1" style="font-size: xx-large;color: #8f9bb3;font-weight: bolder;">#6</div> <p class="col-5">Đã gần 1 năm mình sử dụng youtube premium, vài chia sẻ cho mọi người...</p>
        <div class="col-1"></div><img class="col-1 rounded-circle" height="8%" width="1%" src ="../static/img/khoa.jpg"><a  class="col-4" href="" style="font-size: small;">Đoàn văn Khoa</a>
        <div class="col-1"></div><img class="col-1 rounded-circle" height="8%" width="1%" src ="../static/img/khoa.jpg"><a  class="col-4"href="" style="font-size: small;">Tester</a>
      </div>
      <div class="col-3">
        <div class="row">
          <img class= "row col-6 rounded" style="padding-left: 10%; border-radius: 10%;"height=150% width="100%" src="../static/img/nghiengame.jpg"> <a href="" class=" col-6">Thông tin về Nintendo Switch </a>
          <img class= "row col-6 rounded" style="padding-left: 10%; padding-top: 3%;border-radius: 10%;"height=150% width="100%" src="../static/img/crenn.jpg"> <a href="" class=" col-6">Lưu ý mua màn hình</a>
          <img class= "row col-6 rounded" style="padding-left: 10%;padding-top: 3%;border-radius: 10%;"height=150% width="100%" src="../static/img/galaxyZ.jpg"> <a href="" class=" col-6">Cách xem Instagram  </a>
          <img class= "row col-6 rounded" style="padding-left: 10%; padding-top: 3%;border-radius: 10%;"height=150% width="100%" src="../static/img/mh.jpg"> <a href="" class=" col-6">Dùng máy cá nhân </a>
          <img class= "row col-6 rounded" style="padding-left: 10%; padding-top: 3%;padding-bottom: 3%;border-radius: 10%;"height=150% width="100%" src="../static/img/laptopcty.jpg"> <a href="" class=" col-6">Dùng laptop, desktop </a>
          <img class= "row col-6 rounded" style="padding-left: 10%; padding-top: 3%;border-radius: 10%;padding-bottom: 3%;"height=150% width="100%" src="../static/img/dtip.jpg"> <a href="" class=" col-6">iOS 15  </a>
          <div class= "row col-3"></div>
          <button style="padding-left: 25px;" type="button" class="col-9 btn btn-outline-primary">Xem thêm</button>
        </div>
      </div>
    </div>
    <br>
    <hr>
    <br>
     <!-- khung 3 -->
    <div class="row" >
      <div class="row col-9">
          <a class="col-4" href=""><img style="border-radius: 15%; padding-bottom: 1%;" class="col-12" src="../static/img/dtduoi.jpg"></a><p class="col-8"><a style="font-size: large;font-weight: bolder;" href="">Hướng dẫn thiết lập khôi phục iCloud thông qua liên hệ tin cậy trên iOS 15</a> <br>Việc khôi phục dữ liệu iCloud trên iOS 15 đã trở nên dễ dàng hơn khi người dùng quên mật khẩu tài khoản hoặc mật mã thiết bị.<br><img  class="col-1 rounded-circle"  src="../static/img/khoa.jpg"> <a href="">Lê Huyền văn</a>- 4h-iPhone,iPad,iOS</p>
          <a class="col-4" href=""><img style="border-radius: 15%; padding-bottom: 1%;" class="col-12" src="../static/img/phimmaxxtri.jpg"></a><p class="col-8"><a style="font-size: large;font-weight: bolder;" href="">Phim Matrix phần 4 có tên gọi chính thức, ra rạp ngày 22/12</a> <br>Tại sự kiện CinemaCon vừa diễn ra, Warner Bros dù không công bố rộng rãi trailer của bộ phim sắp công chiếu nhưng đã tiết lộ tên gọi chính thức sẽ là Matrix: Resurrections. <br><img  class="col-1 rounded-circle"  src="../static/img/khoa.jpg"> <a href="">Didu</a>- 4h-Cà phê tinh tế</p>
          <a class="col-4" href=""><img style="border-radius: 15%; padding-bottom: 1%;" class="col-12" src="../static/img/dt.jpg"></a><p class="col-8"><a style="font-size: large;font-weight: bolder;" href="">Fitbit Charge 5 chính thức: màn hình OLED </a> <br>Vậy là FItbit Charge 5 đã chính thức được Fitbit ra mắt và sẽ là thế hệ fitness tracker cao cấp tiếp theo, kế nhiệm Fitbit Charge 4 ra mắt cách đây 1 năm<br><img  class="col-1 rounded-circle"  src="../static/img/khoa.jpg"> <a href="">bngHuy</a>- 5h-Đồng Hồ - Trang Sức</p>
          <a class="col-4" href=""><img style="border-radius: 15%; padding-bottom: 1%;" class="col-12" src="../static/img/mayruachen.jpg"></a><p class="col-8"><a style="font-size: large;font-weight: bolder;" href="">Review Máy rửa bát Electrolux loại 8 SET</a> <br>Đây là review về Máy rửa bát Electrolux loại 8 SET của mình.Mình mua nó với giá 11,000,000 (mua đã được 4 năm nên giá khá cao hơn hiện tại). Hi vọng phần review sẽ hữu ích cho bạn nào muốn mua nhé, nếu bạn có câu hỏi gì thì hãy comment vô bài này nha.<br><img  class="col-1 rounded-circle"  src="../static/img/khoa.jpg"> <a href="">kaoquanjb</a>- 5h-Điện tử-Tiêu dùng</p>
      </div>
    </div>
    <br>
    <hr>
    <br>
    <!--Khung 4-->
    <div class="row">
      <div class="row col-9">
        <img class="col-6" style="border-radius: 5%;" src="../static/img/xe.png">
        <img class="col-6" style="border-radius: 5%;" src="../static/img/matho.jpg">
        <a class="col-6" style="font-size: large;font-weight: bolder;padding-bottom: 3%;" href="">[Infographic] Top 20 hãng sản xuất xe điện hàng đầu thế giới</a>
        <a class="col-6" style="font-size: large;font-weight: bolder;padding-bottom: 3%;" href="">Playlist các ca khúc kỷ niệm 105 năm Công Viên Quốc Gia Mỹ. Nhân dịp này Apple cũng sẽ dành ra...</a>
        <ul class="col-6" >
          <li><a style="font-size:small;font-weight: bolder;" href="">CDC Mỹ khuyến cáo du khách lớn tuổi, nhóm nguy cơ cao không nên đi du thuyền, kể cả đã tiêm vaccine</a></li>
          <hr>
          <li><a style="font-size:small;font-weight: bolder;" href="">MQ-25 Stingray - UAV đầu tiên tiếp nhiên liệu thành công cho máy bay khác trên không</a></li>
          <hr>
          <li><a style="font-size:small;font-weight: bolder;" href="">VinFast hợp tác với Gotion High-Tech để phát triển pin LFP cho xe điện</a></li>
          </ul>
          <ul class="col-6" >
            <li><a style="font-size:small;font-weight: bolder;" href="">Chàng trai trong hình bìa album Nevermind của Nirvana khởi kiện nhóm tội khiêu dâm trẻ em</a></li>
            <hr>
            <li><a style="font-size:small;font-weight: bolder;" href="">Wear OS đã chính thức được cung cấp tính năng chơi nhạc offline từ hôm nay</a></li>
            <hr>
            <li><a style="font-size:small;font-weight: bolder;" href="">Fyne Audio mở rộng dòng sản phẩm Special Production với mẫu loa F500SP</a></li>
            </ul>
          <div class="col-1"></div><button  type="button" class="btn btn-outline-info col-4">Xem thông tin xe</button>
          <div class="col-2"></div><button  type="button" class="btn btn-outline-info col-4">Xem thông tin Audio</button>
      </div>
    <br>
    <hr>
    <br>
    <hr>
    <!--khung 5-->
    <div class="row" style="padding-top: 5%;">
      <div class="row col-9">
          <a class="col-4" href=""><img style="border-radius: 15%; padding-bottom: 1%;" class="col-12" src="../static/img/window.jpg"></a><p class="col-8"><a style="font-size: large;font-weight: bolder;" href="">Google và Microsoft sẽ đầu tư 30 tỷ USD để cải thiện các vấn đề an ninh mạng tại Mỹ trong 5 năm tới</a> <br>Sau cuộc gặp với Tổng thống Joe Biden, Google và Microsoft cam kết sẽ đầu tư tổng cộng 30 tỷ USD để nâng cấp và cải thiện các vấn đề liên quan đến an ninh mạng trong vòng 5 năm tới.<br><img  class="col-1 rounded-circle"  src="../static/img/khoa.jpg"> <a href="">Lê Huyền văn</a>- 4h-iPhone,iPad,iOS</p>
          <a class="col-4" href=""><img style="border-radius: 15%; padding-bottom: 1%;" class="col-12" src="../static/img/banphim.jpg"></a><p class="col-8"><a style="font-size: large;font-weight: bolder;" href="">Review RK G68, 1 chiếc bàn phím cơ có chất lượng chỉ bằng 1/3 Keychrone ?</a> <br>Đây là review về Review RK G68, 1 chiếc bàn phím cơ có chất lượng chỉ bằng 1/3 Keychrone của mình. Mình mua nó với giá 680,000.  <br><img  class="col-1 rounded-circle"  src="../static/img/khoa.jpg"> <a href="">Didu</a>- 4h-Cà phê tinh tế</p>
          <a class="col-4" href=""><img style="border-radius: 15%; padding-bottom: 1%;" class="col-12" src="../static/img/nhatban.jpg"></a><p class="col-8"><a style="font-size: large;font-weight: bolder;" href="">Nhật Bản sẽ xây đường hầm dưới biển để xả 1,27 triệu tấn nước nhiễm phóng xạ xuống đại dương</a> <br>Nhà điều hành nhà máy hạt nhân Fukushima của Nhật Bản đã công bố kế hoạch xây dựng một đường hầm dưới biển để thải hơn một triệu tấn nước nhiễm phóng xạ đã qua xử lý từ khu vực này vào đại dương.<br><img  class="col-1 rounded-circle"  src="../static/img/khoa.jpg"> <a href="">kaoquanjb</a>- 5h-Điện tử-Tiêu dùng</p>
          <a class="col-4" href=""><img style="border-radius: 15%; padding-bottom: 1%;" class="col-12" src="../static/img/Ai.jpg"></a><p class="col-8"><a style="font-size: large;font-weight: bolder;" href="">VinAI giới thiệu công nghệ tự hành có thể sẽ ứng dụng trên xe VinFast trong tương lai</a> <br>Tại Sự kiện “AI Day 2021 - Tiếp lửa đổi mới sáng tạo” do Công ty Nghiên cứu và Ứng dụng Trí tuệ Nhân tạo VinAI (thuộc tập đoàn Vingroup) tổ chức, <br><img  class="col-1 rounded-circle"  src="../static/img/khoa.jpg"> <a href="">bngHuy</a>- 5h-Đồng Hồ - Trang Sức</p>
          <a class="col-4" href=""><img style="border-radius: 15%; padding-bottom: 1%;" class="col-12" src="../static/img/robot.jpg"></a><p class="col-8"><a style="font-size: large;font-weight: bolder;" href="">Roborock G10: con robot tự giặt giẻ, tự châm nước sau khi hoạt động xong</a> <br>Roborock vừa ra mắt con robot hút bụi G10 mới, nó có chức năng tự giặt giẻ sau khi đã hoàn thành công việc.<br><img  class="col-1 rounded-circle"  src="../static/img/khoa.jpg"> <a href="">Lê Huyền văn</a>- 4h-iPhone,iPad,iOS</p>
          <a class="col-4" href=""><img style="border-radius: 15%; padding-bottom: 1%;" class="col-12" src="../static/img/ongia.jpg"></a><p class="col-8"><a style="font-size: large;font-weight: bolder;" href="">Học được gì về chiến lược công ty qua email của Steve Jobs,Haless Tony...</a> <br>24/10/2010, Steve Jobs gửi một email cho các lãnh đạo cấp cao của Apple, trong đó có một phần ông nói về “Chiến lược 2011” rất đáng chú ý. <br><img  class="col-1 rounded-circle"  src="../static/img/khoa.jpg"> <a href="">Didu</a>- 4h-Cà phê tinh tế</p>
          <a class="col-4" href=""><img style="border-radius: 15%; padding-bottom: 1%;" class="col-12" src="../static/img/black.png"></a><p class="col-8"><a style="font-size: large;font-weight: bolder;" href="">WD và Kioxia đang đàm phán sáp nhập nhằm đối đầu Samsung trên thị trường chip nhớ</a> <br>Western Digital đang đàm phán về khả năng sáp nhập cổ phiếu trị giá 20 tỉ đô với nhà sản xuất chip kiêm đối tác lâu nay của WD là Kioxia.<br><img  class="col-1 rounded-circle"  src="../static/img/khoa.jpg"> <a href="">kaoquanjb</a>- 5h-Điện tử-Tiêu dùng</p>
          <a class="col-4" href=""><img style="border-radius: 15%; padding-bottom: 1%;" class="col-12" src="../static/img/ongiga2.jpg"></a><p class="col-8"><a style="font-size: large;font-weight: bolder;" href="">Tim Cook đã bán gần hết cổ phiếu thưởng của Apple, thu về gần 750 triệu USD</a> <br>Theo báo cáo được Apple gửi lên Uỷ ban Chứng khoán và Sàn giao dịch Mỹ SEC, CEO Tim Cook vừa nhận được hơn 5 triệu cổ phiếu thưởng trong tuần qua và ông đã bán hầu hết trong số đó, thu về gần 750 triệu đô la Mỹ.<br><img  class="col-1 rounded-circle"  src="../static/img/khoa.jpg"> <a href="">bngHuy</a>- 5h-Đồng Hồ - Trang Sức</p>
          <button  type="button" class="btn btn-outline-primary col-12">XEM BÀI VIẾT MỚI</button>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <!--Khung 6-->
    <div class="row">
      <div class="row col-9">
        <div class="card col 6" style="width: 15%;">
          <img style="border-radius: 2%;" src="../static/img/window2.png" class="card-img-top" alt="...">
          <button type="button" class="btn btn-success">Windows</button>
          <div class="card-body" style="background-color: #213243;">
            <a href="" class="card-text" style="font-size: medium;font-weight: bold;color: white;">Funny</a>
            <hr style="background-color:silver;">
            <a href="" class="card-text" style="font-size: medium;color: white;">17.409</a>
            <hr style="background-color:silver;">
            <a href="" class="card-text" style="font-size: medium;color: white;">Tự hủy.</a>
            <hr style="background-color:silver;">
            <a href="" class="card-text" style="font-size: medium;color: white;">Căng ae ạ!</a>
            <hr style="background-color:silver;">
            <a href="" class="card-text" style="font-size: medium;color: white;">Em mới CT 16 rồi các pro ạ</a>
          </div>
        </div>
        <div class="card  col 6" style="width: 15%;">
          <img style="border-radius: 2%;" src="../static/img/macos.jpg" class="card-img-top" alt="...">
          <button  type="button" class="btn btn-primary ">IOS</button>
          <div class="card-body" style="background-color: #213243;">
            <a href="" class="card-text" style="font-size: medium;font-weight: bold;color: white;">Help...</a>
            <hr style="background-color:silver;">
            <a href="" class="card-text" style="font-size: medium;color: white;">Các ace genz cho em hỏi với ạ em sinh viên đang có nhu cầu mua laptop để học tập và làm ...</a>
            <hr style="background-color:silver;">
            <a href="" class="card-text" style="font-size: medium;color: white;">Thấy anh em khoe pha cf bằng đủ thể loại máy, từ thủ công đến tự động, mình cũng khoe tấm hình mình</a>
            <hr style="background-color:silver;">
            <a href="" class="card-text" style="font-size: medium;color: white;">Tư vấn mua laptop</a>
            
         
          </div>
        </div>
      </div>

    </div>
    <br>
    <hr>
    <br>
    <!--Các câu hỏi bạn giúp-->
    <div class="row">
      <div class=" row col-9">
        <a class="col-12" style="font-weight: bold;padding-bottom: 3%;" href="">Tư vấn mua PC phục vụ công việc</a><br>
        <img  class="col-1 rounded-circle" height="8%" width="1%" src="../static/img/khoa.jpg">
        <div style="background-color: lightgrey;" class="card col 11">
          <div class="card-body">
            <a href="" style="color:blue;">Nguyễn Đăng Khoa</a> -20 phút
            <div>Buồn quá không ai giúp em, 100 bác vào xem rồi lại đi ra hic~</div>
          </div>
        </div>
        <a class="col-12" style="font-weight: bold;padding-bottom: 3%;" href="">Góc cần giúp đỡ</a><br>
        <img  class="col-1 rounded-circle" height="8%" width="1%" src="../static/img/bagia.jpg">
        <div style="background-color: lightgrey;" class="card col 11">
          <div class="card-body">
            <a href="" style="color:blue;">Hasales</a> -20 phút
            <div>trc đây samsung a7 2017 của mình không cần mật khẩu mỗi khi tắt nguồn
              hnay mình quên mật khẩu muốn tắt nguồn để reset thì quên mk mới cay , ai giúp mình với hu =((</div>
          </div>
        </div>
        <a class="col-12" style="font-weight: bold;padding-bottom: 3%;" href="">Kẻ thù của cheems</a><br>
        <img  class="col-1 rounded-circle" height="8%" width="1%" src="../static/img/cheems.jpg">
        <div style="background-color: lightgrey;" class="card col 11">
          <div class="card-body">
            <a href="" style="color:blue;">Phạm Trọng Khương</a> -20 phút
            <div>Mọi người chỉ mình cách làm thịt con cún nhà mình với nó tên CHEEMS</div>
          </div>
        </div>
        <div class="col-12" style="padding-bottom: 3%;"></div>
        <button  type="button" class="btn btn-outline-primary col-12">XEM BÀI VIẾT MỚI</button>
      </div>
    </div>
    <br>
    <hr>
    <br>
    <!--khung 7-->
    <div class="row">
      <div class="col-9">
        <div id="demo" class="carousel slide" data-ride="carousel">

          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
          </ul>
        
          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../static/img/nghiengame.jpg" class="d-block w-100" >
            </div>
            <div class="carousel-item">
              <img src="../static/img/car.jpg" class="d-block w-100" >
            </div>
            <div class="carousel-item">
              <img src="../static/img/macc.jpg"  class="d-block w-100">
            </div>
          </div>
        
          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        
        </div>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <!--Tag-->
    <div class="row">
      <div class="row col-9 " style="background-color: #222b45;color: white;border-radius: 2%;">
        <div class="col-12">#Tag đang hot <br>Anh Em nhớ follow để nhận được thông báo mới nhé</div>
        <div  class="card col-3" style="width: 50%; background-color: #242424" >
          <img style="border-radius: 3%;" src="../static/img/android.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">#Android</p>
          </div>
        </div>
        <div  class="card col-3" style="width: 50%; background-color: #242424" >
          <img style="border-radius: 3%;" src="../static/img/corona.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">#Corona</p>
          </div>
        </div>
        <div  class="card col-3" style="width: 50%; background-color: #242424" >
          <img style="border-radius: 3%;" src="../static/img/khuyenmai.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">#Khuyen mai</p>
          </div>
        </div>
        <div  class="card col-3" style="width: 50%; background-color: #242424" >
          <img style="border-radius: 3%;" src="../static/img/car.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">#Car</p>
          </div>
        </div>
        <div  class="card col-3" style="width: 50%; background-color: #242424" >
          <img style="border-radius: 3%;" src="../static/img/ongiga2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">#Tim Cook</p>
          </div>
        </div>
        <div  class="card col-3" style="width: 50%; background-color: #242424" >
          <img style="border-radius: 3%;" src="../static/img/banphim.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">#Ban Phim</p>
          </div>
        </div>
        <div  class="card col-3" style="width: 50%; background-color: #242424" >
          <img style="border-radius: 3%;" src="../static/img/surface.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">#Cong Nghe</p>
          </div>
        </div>
        <div  class="card col-3" style="width: 50%; background-color: #242424" >
          <img style="border-radius: 3%;" src="../static/img/youtube.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">#Youtube</p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <hr>
    <br>
    <hr>

    <!-- popup1-->
    <div class="full-screen pop1 hidden flex-container-center">
      <div class="row form-inline " style="width: auto;" >
        <i class="fas fa-chevron-left mr-4 point"  style="color: white; font-size: 40px;"></i>
        <div class="mr-3" style="text-align: center;" ><iframe class="frame1" width="600" height="400" src="https://www.youtube.com/embed/pp5FyuLbjwM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        
        <div class="rounded" style="width: 500px; background-color: azure; padding: 20px;">
          <img class="rounded-circle" src="../static/img/khoa.jpg" width="40px" height="40px" alt="">
          <span style="font-weight: 500;"   > <span class="point">Khoaminion</span> <span style="font-weight: 100;">2h<span style="float:right" class="closepopup"><span class="point"><i class="fas fa-times"></i></span></span></span> <br><span class="rounded" >Mời anh em cùng chiêm ngưỡng khả năng "bắn sữa" của anh chàng Ấn Độ hết sức điêu luyện và chính xác, khá là giải trí cho anh em trong mùa dịch này :))</span>
          <hr>
          <div class="row" style="text-align: center;">
            <div class="col-sm-4 point like"><i class="fas fa-thumbs-up"></i><span class="like-text"> Thích</span></div>
            <div class="col-sm-4 point"><i class="fas fa-comments"></i> Bình luận</div>
            <div class="col-sm-4 point"><i class="fas fa-share"></i> Chia sẻ</div>
          </div>
          <hr>

          <div style=" border: 1px solid rgb(202, 202, 202); border-radius: 5px; padding: 5px; background-color: rgb(226, 226, 226); ">
            <img class="rounded-circle" src="../static/img/mikey-tokyo-revengers.gif" width="20px" height="20px" alt="">
            <span style="font-weight: 500;"  > <span class="point"> KhuongPT</span><span style="font-weight: 100;"> 15m</span> <br><span  class="rounded" >Thanh niên có vẻ thông thạo 7 môn vật lý đại cương.</span>
          </div>

          <div class="mb-2 mt-2" style=" border: 1px solid rgb(202, 202, 202); border-radius: 5px; padding: 5px; background-color: rgb(226, 226, 226); ">
            <img class="rounded-circle" src="../static/img/cat-funny-cat.gif" width="20px" height="20px" alt="">
            <span style="font-weight: 500;"  ><span class="point">KietITK</span><span style="font-weight: 100;"> 36m</span> <br><span  class="rounded" >Hết dịch phải làm một chuyến Ấn Độ mới được</span>
          </div>

          <div style=" border: 1px solid rgb(202, 202, 202); border-radius: 5px; padding: 5px; background-color: rgb(226, 226, 226); ">
            <img class="rounded-circle" src="../static/img/doge-samar.gif" width="20px" height="20px" alt="">
            <span style="font-weight: 500;" ><span class="point">Tomblobla</span> <span style="font-weight: 100;"> 1h</span> <br><span  class="rounded" >Quả đỉnh rồi :))</span>
          </div>
        </div>
        <i class="fas fa-chevron-right ml-4 point" style="color: white; font-size: 40px;"></i>
      </div>
      </div>
      <!-- endpopup1 -->

      <!-- popup2-->
    <div class="pop2 full-screen hidden flex-container-center">
      <div class="row form-inline " style="width: auto;" >
        <i class="fas fa-chevron-left mr-4 point"  style="color: white; font-size: 40px;"></i>
        <div class="mr-3" style="text-align: center;" ><iframe class="frame2" width="600" height="400" src="https://www.youtube.com/embed/tXh6Ev3oTqU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        
        <div class="rounded" style="width: 500px; background-color: azure; padding: 20px;">
          <img class="rounded-circle" src="../static/img/doge-samar.gif" width="40px" height="40px" alt="">
          <span style="font-weight: 500;"   > <span class="point">KhuongPT</span> <span style="font-weight: 100;">10h<span style="float:right" class="closepopup"><span class="point"><i class="fas fa-times"></i></span></span></span> <br><span class="rounded" >Now you see me 2, Cảnh phim được yêu thích nhất!</span>
          <hr>
          <div class="row" style="text-align: center;">
            <div class="col-sm-4 point like2"><i class="fas fa-thumbs-up"></i><span class="like-text1"> Thích</span></div>
            <div class="col-sm-4 point"><i class="fas fa-comments"></i> Bình luận</div>
            <div class="col-sm-4 point"><i class="fas fa-share"></i> Chia sẻ</div>
          </div>
          <hr>

          <div style=" border: 1px solid rgb(202, 202, 202); border-radius: 5px; padding: 5px; background-color: rgb(226, 226, 226); ">
            <img class="rounded-circle" src="../static/img/khoa.jpg" width="20px" height="20px" alt="">
            <span style="font-weight: 500;"  > <span class="point"> Khoaminion</span><span style="font-weight: 100;"> 2h</span> <br><span  class="rounded" >Nghe bảo xem phim này hơi lú :((</span>
          </div>

          <div class="mb-2 mt-2" style=" border: 1px solid rgb(202, 202, 202); border-radius: 5px; padding: 5px; background-color: rgb(226, 226, 226); ">
            <img class="rounded-circle" src="../static/img/cat-funny-cat.gif" width="20px" height="20px" alt="">
            <span style="font-weight: 500;"  ><span class="point">KietITK</span><span style="font-weight: 100;"> 30m</span> <br><span  class="rounded" >Pha lia bài quá đỉnh</span>
          </div>

          <div style=" border: 1px solid rgb(202, 202, 202); border-radius: 5px; padding: 5px; background-color: rgb(226, 226, 226); ">
            <img class="rounded-circle" src="../static/img/apw.jpg" width="20px" height="20px" alt="">
            <span style="font-weight: 500;" ><span class="point">Tomblobla</span> <span style="font-weight: 100;"> 8h</span> <br><span  class="rounded" >Ông kia nhìn như Hitler</span>
          </div>
        </div>
        <i class="fas fa-chevron-right ml-4 point" style="color: white; font-size: 40px;"></i>
      </div>
      </div>
      <!-- endpopup2 -->

      <!--viet bai-->
    <div class="viet-bai full-screen hidden flex-container-center">
      <div class="row form-inline " style="width: auto;" >
        <div class="rounded" style="width: 500px; background-color: azure; padding: 20px;">
          <img class="rounded-circle" src="../static/img/khoa.jpg" width="40px" height="40px" alt="">
          <span style="font-weight: 500;"   > <span class="point">Khoaminion</span><span style="float:right" class="closepopup"><span class="point"><i class="fas fa-times"></i></span></span></span> <br>
          <input type="text" class="mt-3 mb-3 tieudeviet" size="24" placeholder="Nhập tiêu đề !" style="font-size: xx-large; font-weight: 500;">
          <textarea id="w3review" name="w3review" rows="20" class="noidungviet" cols="62" placeholder="nhập nội dung nè !" style="resize: none;"></textarea>
          <hr>
          <div style="text-align: center;" class="form-inline">
            <div class="col-sm-4 point "><i class="fas fa-images"></i><span> Thêm ảnh: </span></div>
            <input type="file" id="myfile" name="myfile" multiple>
          </div>
          
          <hr>
          
          <button class="rounded dang-bai" style="margin-left: 190px; background-color: rgb(4, 229, 245); color: rgb(0, 0, 0);">Đăng</button>
        </div>
        
      </div>
      </div>
      <!-- end viet bai -->
 
  </section>
</body>

  
  

  <!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <section class=" p-4 border-bottom " style="background-color: rgba(165, 162, 162, 0.05);">
    <!-- Left -->
    <div class="me-5 pl-30">
      <a href="" class="pr-3">
        TIN MỚI
      </a>
      <a href="" class="pr-3">
        SỰ KIỆN
      </a>
      <a href="" class="pr-3">
        VIDEO
      </a>
      <a href="" class="pr-3">
        GIẢI TRÍ
      </a>
      <a href="" class="pr-3">
        KHUYẾN MÃI
      </a>
    </div>
  </section>


  <!-- Section: Links  -->
  <section class="mb-3">
    <div class="container text-center text-sm-start mt-4">
      <!-- Grid row -->
      <div class="row mt-3 mb-3">
        <!-- Grid column -->
        <div class="col-sm-3 col-lg-3 col-xl-3 mx-auto mb-1">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            ZTECH
          </h6>
          <p><a class="text-reset" href="#!">Nội quy</a></p>
          <p><a class="text-reset" href="#!">Thỏa thuận</a></p>
          <p><a class="text-reset" href="#!">Góp ý</a></p>
          <p><a class="text-reset" href="#!">Liên hệ quảng cáo</a></p>           
          
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-sm-3 col-lg-3 col-xl-3 mx-auto mb-1">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Đối tác
          </h6>
          <p>
            <a href="#!" class="text-reset">Vinamilk</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Thegioididong</a>
          </p>
          <p>
            <a href="#!" class="text-reset">FPT Shop</a>
          </p>
          <p>
            <a href="#!" class="text-reset">ConCung</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-sm-3 col-lg-3 col-xl-3 mx-auto mb-1">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Mua bán
          </h6>
          <p>
            <a href="#!" class="text-reset">Điện thoại</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Máy ảnh</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Máy tính</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Xe cộ</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-sm-3 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-1">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Các kênh khác
          </h6>
          <p><a class="text-reset" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i> Facebook</a></p>
          <p><a class="text-reset" href="https://www.youtube.com/"><i class="fab fa-youtube"></i> Youtube</a></p>
          <p><a class="text-reset" href="https://www.pinterest.com/"><i class="fab fa-pinterest"></i> Pinterest</a></p>
          <p><a class="text-reset" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></i> Instagram</a></p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->
  <hr>
  <!-- Copyright -->
  <div class="text-center p-3 "  style=" font-size: small;">
    <span class="pr-4"> © 2021 Team Ztech </span> <span class="pr-4"> Địa chỉ: 69 Hạ Long, Phường
       4, TP.Vũng tàu </span><span class="pr-4"> Số điện thoại: 0283282719 </span> <span class="pr-4"> Chịu trách nhiệm nội dung: Hồ Trọng Vinh </span>
  </div>
</footer>
<!-- Footer -->
  


</html>
