<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/css/main.css">
  <link rel="shortcut icon" type="image/svg" href="../static/img/Z-green-leaf.svg"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Danh sách bài viết | Ztech</title>
  <script>
    $(document).ready(function(){
      if ($(window).width() > 750){
          $(".viet").hide();   
          $(".dropdown-menu").addClass("dropdown-menu-right");
        }
        else{
          $(".viet").show();
          $(".dropdown-menu").removeClass("dropdown-menu-right"); 
        }

        if ($(window).width() > 1200){
          $(".info-box").show();   
        }else{
        
          $(".info-box").hide();
        }


        if ($(window).width() > 1000){
          $(".tag").addClass("ml-0");  
        }else{
        
          $(".tag").removeClass("ml-0");
        }
         

      $(".btn-vietbai").click(function(){             
        $(".modal").addClass("d-flex"); 
        $("body").addClass("unscroll");
        $("html, body").animate({ scrollTop: 0 }, "slow");
      });
      $(".close").click(function(){
        $(".modal").removeClass("d-flex");
        $("body").removeClass("unscroll");
        
      });
      $(".link-btn").click(function(){           
        $(".link-input").toggleClass("d-none");        
      });
      

      $(".search-query").hide();

      $(".form-group .btn").click(function(){
        $(".search-query").toggle(200);
        
      }); 

      $(window).resize(function(){
        if ($(window).width() > 750){
          $(".viet").hide();   
          $(".dropdown-menu").addClass("dropdown-menu-right");
        }
        else
        {
          $(".viet").show();
          $(".dropdown-menu").removeClass("dropdown-menu-right"); 
        }  

        if ($(window).width() > 1200){
          $(".info-box").show();   
          $(".blue-bar").removeClass("col-9");
        }
        else
        {
          $(".info-box").hide();
          $(".blue-bar").addClass("col-9");
        }

        if ($(window).width() < 986){         
          $(".scrollmenu").css({"width":"1000px"});
        }       
        

        if ($(window).width() > 1000){
          $(".last-tag").addClass("col-9"); 
          $(".tag").addClass("ml-0");

         
        }
        else
        {
          $(".tag").removeClass("ml-0");
          $(".last-tag").removeClass("col-9");
          $(".blue-bar").removeClass("col-9");
        }

        if ($(window).width() > 800){
          $(".third").addClass("col-3");   
        }
        else
        {
          $(".third").removeClass("col-3");
        }
        
        if ($(window).width() > 800){
          $(".third").addClass("col-3");   
        }
        else
        {
          $(".third").removeClass("col-3");
        }
      });

      $(".showpopup").click(function(){
        $(".pop1").removeClass("hidden");
        $("body").addClass("unscroll");
        $(".pop2").addClass("hidden");
        $("html, body").animate({ scrollTop: 0 }, "slow");
      });
      
      $(".closepopup").click(function(){
        $(".full-screen").addClass("hidden");
        $("body").removeClass("unscroll");
        $('iframe').attr('src', $('iframe').attr('src'));
      });

      $(".like").click(function(){
        $(".like").toggleClass("like1");
        if ($(".like-text").text() ==" Thích"){
          $(".like-text").text(" Đã thích");

        }
        else{
          $(".like-text").text(" Thích");
        };
      });

      $(".like2").click(function(){
        $(".like2").toggleClass("like1");
        if ($(".like-text1").text() ==" Thích"){
          $(".like-text1").text(" Đã thích");

        }
        else{
          $(".like-text1").text(" Thích");
        };
      });

      $(".chevron-right").click(function(){
        $(".pop1").addClass("hidden");       
        $(".pop2").removeClass("hidden");
        $('.frame1').attr('src', $('.frame1').attr('src'));
      });

      $(".chevron-left").click(function(){             
        $(".pop2").addClass("hidden");
        $(".pop1").removeClass("hidden");
        $('.frame2').attr('src', $('.frame2').attr('src'));
      });
     
      $(".dang-bai").click(function(){      
        if ( $(".tieudeviet").val() =="" ||  $(".noidungviet").val() =="" ){
          alert("Vui lòng điền đầy đủ nội dung !!!");
        }
        else{
          alert("Đã đăng bài !!!");
          $(".viet-bai").addClass("hidden");
          $(".tieudeviet").val("");
          $(".noidungviet").val("");
        };
      });

      $(".search-query").focus(function(){             
        $(".search-query").val(""); 
      });

      if ($(window).width() > 1000){
          $(".last-tag").addClass("col-9");   
        }
        else
        {
          $(".last-tag").removeClass("col-9");
        }

        if ($(window).width() > 800){
          $(".third").addClass("col-3");   
        }
        else
        {
          $(".third").removeClass("col-3");
        }  

        $(".chk-all").click(function(){             
        $(".chk-xoa").attr("checked",true); 
      });

      $(".xoa-ho-tro").click(function(){             
        if($(".check-xoa1").is(":checked"))
        {
            $('.list1').remove();
        }

        if($(".check-xoa2").is(":checked"))
        {
            $('.list2').remove();
        }

        if($(".check-xoa3").is(":checked"))
        {
            $('.list3').remove();
        }

        if($(".check-xoa4").is(":checked"))
        {
            $('.list4').remove();
        }

        if($(".check-xoa5").is(":checked"))
        {
            $('.list5').remove();
        }

        if($(".check-xoa6").is(":checked"))
        {
            $('.list6').remove();
        }

        if($(".check-xoa7").is(":checked"))
        {
            $('.list7').remove();
        }

        if($(".check-xoa8").is(":checked"))
        {
            $('.list8').remove();
        }
    
        $('.chk-xoa').attr('checked', false)

        if (($(".list1").length == false)&&($(".list2").length == false)&&($(".list3").length == false)&&($(".list4").length == false)&&($(".list5").length == false)&&($(".list6").length == false)&&($(".list7").length == false)&&($(".list8").length == false))
        {
            $('.dstrong').removeClass('hidden');
        }
    });
    });
  </script>
</head>
<div id="fb-root"></div>
<body>  
  <nav class="container navbar navbar-expand-md navbar-inverse  navbar-light pb-0">
    <!-- Brand -->
    <div class="form-group pt-2">
      <a class="navbar-brand" href="/user"><img src="../static/img/Z-green-leaf.svg" width="45" height="45" alt="Logo"> ZTech</a>
    <!-- search -->
          <input type="text" class="search-query" placeholder="Type something...">
          <button type="submit" class="btn btn-circle"><i class="fa fa-search"></i></button>
    </div>
    
    

    <!-- toggle icon -->
    <button class="navbar-toggler mb-3" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
   </button>
   
    <!-- Links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto pb-2">
      <li class="nav-item">
        <a class="nav-link" href="#">Tin Hot</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Video</a>
      </li>
    </ul>
    <li class="nav-item li-dangnhap pr-3 pb-2" style="color: white;">
      <i class="fas fa-feather btn-circle" style="padding-top: 10px; background-color: #00beef;" data-toggle="tooltip" data-placement="top" title="Viết bài"></i>
      <span class="viet" style="color: black;">Viết bài</span>
    </li>
    <li class="nav-item li-dangnhap pr-3 pb-2" style="color: white;">
      <div class="dropdown" data-toggle="dropdown" aria-haspopup="true" data-placement="top" title="Cài đặt" aria-expanded="false" >
        <i class="fas fa-bell btn-circle" style="padding-top: 10px; background-color: #00beef;" data-toggle="tooltip" data-placement="top" title="Thông báo"></i>
      <span class="viet" style="color: black;">Thông báo</span>
        <div class="dropdown-menu dropdown-menu-right" style="text-align: left;" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#" > 
            <span style="color: blue; font-weight: 400;">KhuongPT</span> <br>
            <span style="font-size: small;">Bài viết của bạn đã bị xóa bởi đăng tải nội dung không lành mạnh !!</span>
          </a>
          <hr>
          <a class="dropdown-item" href="#" >
              <span style="color: blue; font-weight: 400;">Nekowimade</span> <br>
              <span style="font-size: small;">Đã bình luận bài đăng của bạn</span>
          </a>
          <hr>
          <a class="dropdown-item" href="#" >
              <span style="color: blue; font-weight: 400;">Tomblobla</span> <br>
              <span style="font-size: small;">Đã thích bài đăng của bạn</span>
          </a>
        </div>
      </div>
    </li>
    <li class="nav-item li-dangnhap pr-3 pb-2">
      <img class="rounded-circle" width="33" height="33" src="../static/img/khoa.jpg" alt="khoamod" data-toggle="tooltip" data-placement="top" title="Trang cá nhân">
      <span class="viet">Trang cá nhân</span>
    </li>
    <li class="nav-item li-dangnhap pb-2">
      <div class="btn-group">
        <a class=" dropdown"
           id="dropdownMenuButton" data-toggle="dropdown">
           <i id="dropdownMenuButton" class="fas fa-cog btn-circle" style="padding-top: 10px; "></i>
           <span class="viet">Cài đặt</span>
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/user/trangcanhan"><i class="fas fa-user"></i> Trang cá nhân</a>
          <a class="dropdown-item" href="/user/chinhsuathongtin"><i class="fas fa-info"></i> Thông tin cá nhân</a>
          <a class="dropdown-item" href="/user/quanlybaiviet"><i class="fas fa-paperclip"></i> Quản lý bài viết</a>
          <a class="dropdown-item" href="/user/danhsachhotro"><i class="fas fa-paperclip"></i> Hỗ trợ đã gửi</a>
          <a class="dropdown-item" href="/user/viethotro"><i class="fas fa-paperclip"></i> Viết hỗ trợ</a>
          <a class="dropdown-item" href="/dangnhap"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a>
        </div>
     </div>
    </li>
    </div>
  </nav>
  <hr class="hr-shadow">
  <br>
  <br>
  <section class="container wrapper">
      <!-- title -->
    <div class="row ml-1 pb-3 container">
        <div style="font-weight: 500; font-size: x-large;">
            Danh Sách bài viết
          </div>
        <div class="ml-auto mr-3 form-inline">
            <div class="pr-3 point xoa-ho-tro" style="font-weight: 500; color: red;"> <i class="fas fa-trash-alt pr-1"></i>Xóa</div>
            <div class="point chk-all">Check all</div>
        </div>
      </div>
      <!-- danh sach -->
    <div class="list-group container pb-3">
        <a href="/user/baiviet" class="list-group-item list-group-item-action flex-column align-items-start list1">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Tiêu đề: Giới thiệu sách và phim "Suối nguồn" của tác giả Ayn Rand<small> 2h ago</small></h5>
            <input class="check-xoa1 chk-xoa" type="checkbox">
          </div>        
          <small>Trong đợt dịch giãn cách ở nhà này, mình đã dành thời gian đọc hết cuốn sách Suối nguồn của tác giả Ayn Rand dày hơn 1200 trang mà mình đã mua cách đây…</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list2">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Tiêu đề: Tính năng chả khác gì Nokia 3310, tại sao các "điện thoại tối giản" lại có thể bán giá đắt gấp 20 lần? <small>5h ago</small></h5>
            <input class="check-xoa2 chk-xoa" type="checkbox">
          </div>
          
          <small class="text-muted">Dù tạo ra một cuộc cách mạng nhờ những tính năng đột phá so với điện thoại di động truyền thống, smartphone cũng mang lại nhiều mặt trái...</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list3">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Tiêu đề: Review game Hoa do nhà phát triển Việt thực hiện: mốc son mới cho ngành công nghiệp còn non trẻ ở quốc gia hình chữ S <small>2 days ago</small></h5>
            <input class="check-xoa3 chk-xoa" type="checkbox">
          </div>
          
          <small class="text-muted">Hoa là một sản phẩm game hiếm có do người Việt sản xuất, và game càng đáng trân quý hơn khi đã được hai nhà phát triển Skrollcat Studio...</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list4">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Tiêu đề: Đây là Thụy Sĩ và những con bò của họ thường được cho đi trực thăng <small>14h ago</small></h5>
              <input class="check-xoa4 chk-xoa" type="checkbox">
            </div>
            
            <small>Nếu nhìn thấy một con bò bay lơ lửng trên không, nhiều khả năng bạn sẽ nghĩ nó đang bị đĩa bay của người ngoài hành tinh bắt đi...</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list5">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Tiêu đề: 5 món phụ kiện học online để Wifi “tậm tịt”, đau lưng mỏi cổ hay hỏng micro không phải cái cớ để "cúp" <small>15m ago</small></h5>
              <input class="check-xoa5 chk-xoa" type="checkbox">
            </div>
            
            <small class="text-muted">Bạn nào không có laptop mà dùng PC thì đây là món cực kì cần thiết khi học hay họp nhóm online. Các loại webcam gắn ngoài thường...</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list6">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Tiêu đề: Câu chuyện kỳ ​​lạ về bộ não của Albert Einstein <small>1 week ago</small></h5>
              <input class="check-xoa6 chk-xoa" type="checkbox">
            </div>
            
            <small class="text-muted">Vì là thiên tài nổi tiếng thế giới, bộ não (theo cả nghĩa đen và nghĩa bóng) của Albert Einstein đã trở thành vật được nhiều người thèm muốn...</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list7">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Tiêu đề: Giải mã những giấc mơ lặp lại dưới góc nhìn tâm lý học <small>2h ago</small></h5>
              <input class="check-xoa7 chk-xoa" type="checkbox">
            </div>
            
            <small>Mơ thấy một giấc mơ đã từng có trước đó, hay còn gọi là giấc mơ lặp lại là một hiện tượng khá phổ biến.</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list8">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Tiêu đề: 5 nghi phạm có khả năng chính là Jack The Ripper (phần 2) <small>23h ago</small></h5>
              <input class="check-xoa8 chk-xoa" type="checkbox">
            </div>
            
            <small class="text-muted">James Maybrick là một thương gia buôn bông ở Liverpool, sinh năm 1838. Do nghề nghiệp của mình, ông thường xuyên đi lại giữa Anh và Mỹ...</small>
          </a>      
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list6">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Tiêu đề: Câu chuyện kỳ ​​lạ về bộ não của Albert Einstein <small>1 week ago</small></h5>
              <input class="check-xoa6 chk-xoa" type="checkbox">
            </div>
            
            <small class="text-muted">Vì là thiên tài nổi tiếng thế giới, bộ não (theo cả nghĩa đen và nghĩa bóng) của Albert Einstein đã trở thành vật được nhiều người thèm muốn...</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list7">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Tiêu đề: Giải mã những giấc mơ lặp lại dưới góc nhìn tâm lý học <small>2h ago</small></h5>
              <input class="check-xoa7 chk-xoa" type="checkbox">
            </div>
            <small>Mơ thấy một giấc mơ đã từng có trước đó, hay còn gọi là giấc mơ lặp lại là một hiện tượng khá phổ biến.</small>
          </a>   
      </div>
      <div class="container ml-2 dstrong hidden" >
        Danh sách trống !
      </div>

      </div>
  </section>
  
</body>

  
  <!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <section class=" p-4 border-bottom " style="background-color: rgba(165, 162, 162, 0.05);">
    <!-- Left -->
    <div class="me-5 pl-30">
      <a href="" class="pr-3">
        TIN MỚI
      </a>
      <a href="" class="pr-3">
        SỰ KIỆN
      </a>
      <a href="" class="pr-3">
        VIDEO
      </a>
      <a href="" class="pr-3">
        GIẢI TRÍ
      </a>
      <a href="" class="pr-3">
        KHUYẾN MÃI
      </a>
    </div>
  </section>


  <!-- Section: Links  -->
  <section class="mb-3">
    <div class="container text-center text-sm-start mt-4">
      <!-- Grid row -->
      <div class="row mt-3 mb-3">
        <!-- Grid column -->
        <div class="col-sm-3 col-lg-3 col-xl-3 mx-auto mb-1">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            ZTECH
          </h6>
          <p><a class="text-reset" href="#!">Nội quy</a></p>
          <p><a class="text-reset" href="#!">Thỏa thuận</a></p>
          <p><a class="text-reset" href="/about">About</a></p>
          <p><a class="text-reset" href="#!">Liên hệ quảng cáo</a></p>           
          
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-sm-3 col-lg-3 col-xl-3 mx-auto mb-1">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Đối tác
          </h6>
          <p>
            <a href="#!" class="text-reset">Vinamilk</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Thegioididong</a>
          </p>
          <p>
            <a href="#!" class="text-reset">FPT Shop</a>
          </p>
          <p>
            <a href="#!" class="text-reset">ConCung</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-sm-3 col-lg-3 col-xl-3 mx-auto mb-1">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Mua bán
          </h6>
          <p>
            <a href="#!" class="text-reset">Điện thoại</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Máy ảnh</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Máy tính</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Xe cộ</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-sm-3 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-1">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Các kênh khác
          </h6>
          <p><a class="text-reset" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i> Facebook</a></p>
          <p><a class="text-reset" href="https://www.youtube.com/"><i class="fab fa-youtube"></i> Youtube</a></p>
          <p><a class="text-reset" href="https://www.pinterest.com/"><i class="fab fa-pinterest"></i> Pinterest</a></p>
          <p><a class="text-reset" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></i> Instagram</a></p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->
  <hr>
  <!-- Copyright -->
  <div class="text-center p-3 "  style=" font-size: small;">
    <span class="pr-4"> © 2021 Team Ztech </span> <span class="pr-4"> Địa chỉ: 69 Hạ Long, Phường
       4, TP.Vũng tàu </span><span class="pr-4"> Số điện thoại: 0283282719 </span> <span class="pr-4"> Chịu trách nhiệm nội dung: Hồ Trọng Vinh </span>
  </div>
</footer>
<!-- Footer -->
</html>
