<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/css/main.css">
  <link rel="stylesheet" href="../static/css/Login_Register.css">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <title>Document</title>
  <script>
    $(document).ready(function(){
      if ($(window).width() > 750){
          $(".viet").hide();   
          $(".dropdown-menu").addClass("dropdown-menu-right");
        }
        else
        {
          $(".viet").show();
          $(".dropdown-menu").removeClass("dropdown-menu-right");
        }

      $(".search-query").hide();

      $(".form-group .btn").click(function(){
        $(".search-query").toggle(200);
        
      }); 

      $(window).resize(function(){
        if ($(window).width() > 750){
          $(".viet").hide();   
          $(".dropdown-menu").addClass("dropdown-menu-right");
        }
        else
        {
          $(".viet").show();
          $(".dropdown-menu").removeClass("dropdown-menu-right"); 
        }  

        if ($(window).width() > 1200){
          $(".info-box").show();   
        }
        else
        {
          $(".info-box").hide();
        }
      });
      $(".home-page").click(function(){
        $(".album").removeClass("list-group-item-dark");
        $(".page-home").removeClass("hidden");
        $(".page-album").addClass("hidden"); 
        $(".home-page").addClass("list-group-item-dark");
        $(".album").removeClass("font-weight-bold");
        $(".home-page").addClass("font-weight-bold"); 

      });
      $(".album").click(function(){
        $(".home-page").removeClass("list-group-item-dark");
        $(".page-album").removeClass("hidden");
        $(".page-home").addClass("hidden");   
        $(".album").addClass("list-group-item-dark");    
        $(".home-page").removeClass("font-weight-bold");
        $(".album").addClass("font-weight-bold"); 
      });
      $(".btn-vietbai").click(function(){             
        $(".modal").addClass("d-flex"); 
        $("body").addClass("unscroll");
        $("html, body").animate({ scrollTop: 0 }, "slow");
      });
      $(".close").click(function(){
        $(".modal").removeClass("d-flex");
        $("body").removeClass("unscroll");
        $('iframe').attr('src', $('iframe').attr('src'));
      });

      $(".link-btn").click(function(){           
        $(".link-input").removeClass("d-none"); 
        $("body").addClass("unscroll");
        $("html, body").animate({ scrollTop: 0 }, "slow");
      });
      $("#customSwitch1").click(function(){           
          $(".link-input").addClass("d-none"); 
          $(".link-btn").addClass("d-none"); 
          $(".span-1").text("Viết Fact");
          $("#customeSwitch1").prop('checked', true)
      });
      $(".like").click(function(){
        $(".like").toggleClass("like1");
        if ($(".like-text").text() ==" Thích"){
          $(".like-text").text(" Đã thích");
        }
        else{
          $(".like-text").text(" Thích");
        };
      });
      $(".like2").click(function(){
        $(".like2").toggleClass("like1");
        if ($(".like-text1").text() ==" Thích"){
          $(".like-text1").text(" Đã thích");
        }
        else{
          $(".like-text1").text(" Thích");
        };
      }); 
      $(".like3").click(function(){
        $(".like3").toggleClass("like1");
        if ($(".like-text2").text() ==" Thích"){
          $(".like-text2").text(" Đã thích");
        }
        else{
          $(".like-text2").text(" Thích");
        };
      });
      $(".like4").click(function(){
        $(".like4").toggleClass("like1");
        if ($(".like-text3").text() ==" Thích"){
          $(".like-text3").text(" Đã thích");
        }
        else{
          $(".like-text3").text(" Thích");
        };
      });      
      $(".search-query").focus(function(){             
        $(".search-query").val(""); 
      });
    });
  </script>
</head>
<body>  
  <nav class="container navbar navbar-expand-md navbar-inverse  navbar-light pb-0">
    <!-- Brand -->
    <div class="form-group pt-2">
    <a class="navbar-brand" href="../templates/index logged.html"><img src="../static/img/Z-green-leaf.svg" width="45" height="45" alt="Logo"> ZTech</a>
    <!-- search -->
          <input type="text" class="search-query" placeholder="Type something...">
          <button type="submit" class="btn btn-circle"><i class="fa fa-search"></i></button>
    </div>
    
    

    <!-- toggle icon -->
    <button class="navbar-toggler mb-3" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
   </button>
   
    <!-- Links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto pb-2">
      <li class="nav-item">
        <a class="nav-link" href="#">Tin Hot</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Video</a>
      </li>
    </ul>
    <li class="nav-item li-dangnhap pr-3 pb-2" style="color: white;">
      <i class="fas fa-feather btn-circle" style="padding-top: 10px; background-color: #00beef;" data-toggle="tooltip" data-placement="top" title="Viết bài"></i>
      <span class="viet" style="color: black;">Viết bài</span>
    </li>
    <li class="nav-item li-dangnhap pr-3 pb-2" style="color: white;">
      <div class="dropdown" data-toggle="dropdown" aria-haspopup="true" data-placement="top" title="Cài đặt" aria-expanded="false" >
        <i class="fas fa-bell btn-circle" style="padding-top: 10px; background-color: #00beef;" data-toggle="tooltip" data-placement="top" title="Thông báo"></i>
      <span class="viet" style="color: black;">Thông báo</span>
        <div class="dropdown-menu dropdown-menu-right" style="text-align: left;" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#" > 
            <span style="color: blue; font-weight: 400;">KhuongPT</span> <br>
            <span style="font-size: small;">Bài viết của bạn đã bị xóa bởi đăng tải nội dung không lành mạnh !!</span>
          </a>
          <hr>
          <a class="dropdown-item" href="#" >
              <span style="color: blue; font-weight: 400;">Nekowimade</span> <br>
              <span style="font-size: small;">Đã bình luận bài đăng của bạn</span>
          </a>
          <hr>
          <a class="dropdown-item" href="#" >
              <span style="color: blue; font-weight: 400;">Tomblobla</span> <br>
              <span style="font-size: small;">Đã thích bài đăng của bạn</span>
          </a>
        </div>
      </div>
    </li>
    <li class="nav-item li-dangnhap pr-3 pb-2">
      <img class="rounded-circle" width="33" height="33" src="../static/img/khoa.jpg" alt="khoamod" data-toggle="tooltip" data-placement="top" title="Trang cá nhân">
      <span class="viet">Trang cá nhân</span>
    </li>
    <li class="nav-item li-dangnhap pb-2">
      <div class="btn-group">
        <a class=" dropdown"
           id="dropdownMenuButton" data-toggle="dropdown">
           <i id="dropdownMenuButton" class="fas fa-cog btn-circle" style="padding-top: 10px; "></i>
           <span class="viet">Cài đặt</span>
        </a>
        <div class="dropdown-menu">
         <a class="dropdown-item" href="../templates/profile.html"><i class="fas fa-user"></i> Trang cá nhân</a>
            <a class="dropdown-item" href="../templates/edit_profile.html"><i class="fas fa-info"></i> Thông tin cá nhân</a>
            <a class="dropdown-item" href="../templates/quanlyuser.html"><i class="fas fa-user-tag"></i> Quản lý user</a>
            <a class="dropdown-item" href="../templates/post-manager.html"><i class="fas fa-paperclip"></i> Quản lý bài viết</a>
            <a class="dropdown-item" href="../templates/userhelpsent.html"><i class="fas fa-paperclip"></i> Yêu cầu hỗ trợ</a>
            <a class="dropdown-item" href="../templates/Login.html"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a>
        </div>
     </div>
    </li>
    </div>
  </nav>
    <section>
      <hr class="hr-shadow"> 
      <div class="container">
        <h1 class="text-center">Trang cá nhân</h1>
          <hr>
        <div class="row">
          <!-- left column -->
            <div class="col-md-3">
                <div class="text-center">              
                    <img src="../static/img/khoa.jpg" class="avatar rounded-circle" style="border: 5px solid rgb(0, 132, 255);" alt="avatar" width="150px" height="150px">
                    <h3 class="font-weight-bold">Khoaminion</h3>
                    <div class="font-weight-bold">
                        <span>67 Follower</span>
                        .
                        <span>0 Following</span>
                    </div>
                </div>
            </div>          
          <!-- right column -->
            <div>                  
                <form class="mt-2">
                    <div >                        
                        <div class="font-italic" style="margin: 20px;">                                  
                            <p>"I like memes, dogs, and other stuff. Follow me if u interesting in my post."</p>                            
                        </div>
                    </div>                    
                    <div class="user-stats-wrapper justify-content-center" style="width: 350px; margin:20px">
                        <div style="font-weight: 500;" class="user-stats">                        
                            <p class="font-weight-bold text-dark" style="font-size: 16px;"> Bảng chiến tích của Khoaminion</p>
                            <table class="mt-2"style="width: 290px;">
                                <tbody>
                                    <tr>
                                        <td>Số giờ hoạt động:</td>
                                        <td align="right">283</td>
                                    </tr>
                                    <tr>
                                        <td>Số bài viết:</td>
                                        <td align="right">25</td>
                                    </tr>
                                    <th>
                                    </th>
                                </tbody>
                            </table>
                        </div>
                    </div>         
                </form>
            </div>
        </div>   
        <hr>
        <div style="margin: 15px;">
          <div >        
            <div style="cursor: pointer;" class="d-inline p-2 list-group-item-dark rounded font-weight-bold home-page">Tường nhà</div>
            <div style="cursor: pointer;" class="d-inline p-2 rounded album">Album và ảnh</div>
          </div>
          <hr>
        </div>
        <div class="container page-album hidden" >
          <div class="text-center mt-4">
            <p class="font-weight-bold">Bạn chưa có ảnh hoặc album nào</p>
          </div>
        </div>
        <div class="page-home container" align="center" >
          <div style="max-width: 700px;" >
            <button  class="btn-vietbai mt-2 font-weight-bold  btn btn-primary btn-block rounded"  type="button" >+VIẾT BÀI CHIA SẺ, ĐẶT CÂU HỎI, SHARE LINK</button> 
            <div>
              <div style="margin-top:10px;">          
                  <div class="rounded" align="left" style=" background-color: #f0f2f5; padding: 15px;">
                    <img class="rounded-circle" src="../static/img/khoa.jpg" width="40px" height="40px" alt="">
                    <span style="font-weight: 500;"><span class="point">Khoaminion</span><span style="font-weight: 100;"> 2h<span class="more float-right"><span class="point"><i class="fas fa-ellipsis-h"></i></span></span></span> <br><span class="rounded" >Mời mọi người nghe tí nhạc thư giãn ạ :DD</span>
                    <div class="embed-responsive embed-responsive-16by9" style="margin: 5px;">
                      <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/Q36VN0YNy_w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-around text-center">
                      <div class="point like"><i class="fas fa-thumbs-up"></i><span class="like-text"> Thích</span></div>
                      <div class="point"><i class="fas fa-comments"></i> Bình luận</div>
                      <div class="point"><i class="fas fa-share"></i> Chia sẻ</div>
                    </div>
                    <hr> 
                    <div style="display: flex;" class="mb-3">
                      <img class="rounded-circle m-2" src="../static/img/khoa.jpg" width="32px" height="32px" alt="">
                      <div style="border: 1px solid rgb(202,202,202); border-radius: 10px; background-color: #FFF;" class="w-100 p-2">
                        <input type="text" placeholder="Viết bình luận của bạn vào đây" style="outline: none;" class="w-100 border-0">
                      </div> 
                    </div>         
                    <div style="display: flex;" class="my-1">
                      <img class="rounded-circle m-2" src="../static/img/mikey-tokyo-revengers.gif" width="32px" height="32px" alt="">
                      <div style="border: 1px solid rgb(202,202,202); border-radius: 10px; background-color: #FFF;" class="w-100 p-2">
                        <span style="font-weight: 500;"><span class="point"> KhuongPT</span><span style="font-weight: 100;"> 15m</span> <br><span  class="rounded" >Nice nice nice.</span>
                      </div> 
                    </div>
                    <div class="d-flex ml-5">
                      <div class="point like2 m-1"><i class="fas fa-thumbs-up"></i><span class="like-text1"> Thích</span></div>
                      <div class="point m-1"><i class="fas fa-comments"></i> Phản hồi</div>   
                    </div>
                    <div style="display: flex;" class="my-1">
                      <img class="rounded-circle m-2" src="../static/img/cat-funny-cat.gif" width="32px" height="32px" alt="">
                      <div style="border: 1px solid rgb(202,202,202); border-radius: 10px; background-color: #FFF;" class="w-100 p-2">
                        <span style="font-weight: 500;"  ><span class="point">KietITK</span><span style="font-weight: 100;"> 36m</span> <br><span  class="rounded" >Good!</span>
                      </div>                      
                    </div>
                    <div class="d-flex ml-5">
                      <div class="point like3 m-1"><i class="fas fa-thumbs-up"></i><span class="like-text2"> Thích</span></div>
                      <div class="point m-1"><i class="fas fa-comments"></i> Phản hồi</div>   
                    </div>
                    <div style="display: flex;" class="my-1">
                      <img class="rounded-circle m-2" src="../static/img/doge-samar.gif" width="32px" height="32px" alt="">
                      <div style="border: 1px solid rgb(202,202,202); border-radius: 10px; background-color: #FFF;" class="w-100 p-2">
                        <span style="font-weight: 500;" ><span class="point">Tomblobla</span> <span style="font-weight: 100;"> 1h</span> <br><span  class="rounded" >Nhạc hay quaaa :))</span>
                      </div>                      
                    </div>
                    <div class="d-flex ml-5">
                      <div class="point like4 m-1"><i class="fas fa-thumbs-up"></i><span class="like-text3"> Thích</span></div>
                      <div class="point m-1"><i class="fas fa-comments"></i> Phản hồi</div>   
                    </div>
                  </div>                  
              </div>              
            </div>          
          </div>
        </div>
        <br>
    </section>   
  <!-- Footer -->
<footer class="text-center  text-lg-start bg-light text-muted">
  <section class=" p-4 border-bottom " style="background-color: rgba(165, 162, 162, 0.05);">
    <!-- Left -->
    <div class="me-5 pl-30">
      <a href="" class="pr-3">
        TIN MỚI
      </a>
      <a href="" class="pr-3">
        SỰ KIỆN
      </a>
      <a href="" class="pr-3">
        VIDEO
      </a>
      <a href="" class="pr-3">
        GIẢI TRÍ
      </a>
      <a href="" class="pr-3">
        KHUYẾN MÃI
      </a>
    </div>
  </section>
  <!-- Section: Links  -->
  <section class="mb-3">
    <div class="container text-center text-sm-start mt-4">
      <!-- Grid row -->
      <div class="row mt-3 mb-3">
        <!-- Grid column -->
        <div class="col-sm-3 col-lg-3 col-xl-3 mx-auto mb-1">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            ZTECH
          </h6>
          <p><a class="text-reset" href="#!">Nội quy</a></p>
          <p><a class="text-reset" href="#!">Thỏa thuận</a></p>
          <p><a class="text-reset" href="#!">Góp ý</a></p>
          <p><a class="text-reset" href="#!">Liên hệ quảng cáo</a></p>           
          
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-sm-3 col-lg-3 col-xl-3 mx-auto mb-1">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Đối tác
          </h6>
          <p>
            <a href="#!" class="text-reset">Vinamilk</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Thegioididong</a>
          </p>
          <p>
            <a href="#!" class="text-reset">FPT Shop</a>
          </p>
          <p>
            <a href="#!" class="text-reset">ConCung</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-sm-3 col-lg-3 col-xl-3 mx-auto mb-1">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Mua bán
          </h6>
          <p>
            <a href="#!" class="text-reset">Điện thoại</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Máy ảnh</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Máy tính</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Xe cộ</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-sm-3 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-1">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Các kênh khác
          </h6>
          <p><a class="text-reset" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i> Facebook</a></p>
          <p><a class="text-reset" href="https://www.youtube.com/"><i class="fab fa-youtube"></i> Youtube</a></p>
          <p><a class="text-reset" href="https://www.pinterest.com/"><i class="fab fa-pinterest"></i> Pinterest</a></p>
          <p><a class="text-reset" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></i> Instagram</a></p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->
  <hr>
  <!-- Copyright -->
  <div class="text-center p-3 "  style=" font-size: small;">
    <span class="pr-4"> © 2021 Team Ztech </span> <span class="pr-4"> Địa chỉ: 69 Hạ Long, Phường
       4, TP.Vũng tàu </span><span class="pr-4"> Số điện thoại: 0283282719 </span> <span class="pr-4"> Chịu trách nhiệm nội dung: Hồ Trọng Vinh </span>
  </div>
</footer>
<!-- Footer -->
<div class="modal">
  <div class="modal__overlay overflow-auto">
    <div class="viet-bai p-0">
      <!-- top -->
      <div class="d-flex justify-content-between head" style="background-color: #f2f3f5; border-radius: 10px 10px 0 0 ;">
        <div>
          <span class="span-1">Viết bài đăng</span>
          <div>
            <span>Chuyển chế độ đăng:</span>
            <div class="custom-control custom-switch d-inline">
              <input type="checkbox" class="custom-control-input" id="customSwitch1" name="customSwitch1">
              <label class="custom-control-label" for="customSwitch1"></label>
            </div>
          </div>
        </div>
        <div class="text-center m-2 close">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <!--middle-->
      <div class="p-4">
        <div>
          <img class="rounded-circle" src="../static/img/khoa.jpg" width="40px" height="40px" alt="">
          <span style="font-weight: 500;"><span class="point"> Khoaminion</span>
        </div>
        <div class="mt-3">
          <div class="d-block">
            <input type="text" placeholder="Dán link vào đây nè" class="link-input w-100 mb-2 d-none" style="outline: none; border: none;">
            <textarea spellcheck="false" style="height: 250px; border:none; border-bottom: 1px solid #a2a2a2;" class="w-100" placeholder="Viết nội dung của bạn vào đây."></textarea>
            <button class="link-btn btn-circle" style="border: 1px solid #a2a2a2; outline: none;"><i class="fas fa-link"></i></button>
          </div>
        </div>
        <div>
          <img id="thumbnil" style="width:20%;" class="m-2"/>
        <br>
          <input type="file" accept="image/*"  onchange="showMyImage(this)" />
        </div>
      </div>
      <div class="rounded" style="border: 10px solid #f3f3f3;">
        <button class="font-weight-bold  btn btn-primary btn-block rounded"  type="button" >Đăng bài</button> 
      </div>
    </div> 
  </div>
</div>

<script>
  /*Hien thi anh*/
  function showMyImage(fileInput) {
        var files = fileInput.files;
        for (var i = 0; i < files.length; i++) {           
            var file = files[i];
            var imageType = /image.*/;     
            if (!file.type.match(imageType)) {
                continue;
            }           
            var img=document.getElementById("thumbnil");            
            img.file = file;    
            var reader = new FileReader();
            reader.onload = (function(aImg) { 
                return function(e) { 
                    aImg.src = e.target.result; 
                }; 
            })(img);
            reader.readAsDataURL(file);
        }    
    }
</script>
</html>
